[2019-12-09 23:00] zsxwing opened #12 "Verify the pushed partition filters are still valid"
It's possible that the pushed partition filters were generated by a different snapshot when we are listing files. We should verify the partition filters are still valid, in other words, if partition columns are changed and the filters contain non partition columns, we should fail the query.

[2019-12-09 23:02] zsxwing opened #13 "Hadoop configurations in Hive should be propagated to the local Spark"
The local Spark is created without using HiveConf. Sometimes, the user may set storage credentials (such as `fs.s3a.awsAccessKeyId`) via HiveConf and if we don't pick up them, we won't be able to access the storage.

[2019-12-11 23:29] zsxwing opened #14 "Check all Hive DDL commands"
Right now we have tested `CREATE TABLE`, `DROP TABLE`. But `ALTER TABLE` is missing. We should take a look at it and see what we can support and what we cannot.

[2019-12-12 18:46] zsxwing commented on #14
Hive doesn't allow `ALTER TABLE` on a non-native table:
[code]

It's worth to investigate if we can bypass this check, or find a convenient way to update the table schema without re-creating the table.

[2019-12-13 20:36] zsxwing commented on #12
Resolved by #11

[2019-12-13 20:36] #12 closed

[2020-02-18 06:51] zhangxinjian123 opened #17 "The Delta table schema is not the same as the Hive schema."
Why is it inconsistent? I checked that the schema of delta table and hive table are correct and the quantity is the same

at org.apache.hadoop.util.RunJar.main(RunJar.java:227)
Caused by: MetaException(message:The Delta table schema is not the same as the Hive schema. Please update your Hive
table's schema to match the Delta table schema.
Delta table schema: StructType(StructField(types,StringType

[2020-02-20 21:19] alextmeyer opened #18 "Support both Scala 2.11 and 2.12"
We run Zeppelin 0.8.2 in our infrastructure and the Spark interpreter in that version doesn't support Scala 2.12, there is a fix in place that won't be released until Zeppelin 0.9.0 (https://jira.apache.org/jira/browse/ZEPPELIN-3552)

To support Zeppelin we build out everything, including spark from source, to use Scala 2.11

Currently there is no documented way to build the Delta connectors using

[2020-02-25 09:43] DdMad opened #19 "Get error with Spark and Hive when using this connector"
Hi, I want to use Delta Lake together with Hive in Spark, but I got some "Operation not allowed: STORED BY" error. I checked this error but found nothing helpful.

I wonder is it because this Hive connector is not supported when using Hive in Spark?

BTW, I tried running the create delta table SQL directly using hive CLI on the Hive machine, and it was working.

Below is how I start the spark sess

[2020-02-25 20:54] zsxwing commented on #17
Thanks for reporting this. This is because Hive will convert all column names to lower case by default, but Delta preserves the case. I will make a change to make the schema comparison case insensitive.

[2020-02-25 21:10] zsxwing commented on #19
The connector cannot be used in Spark. The table creation command is a Hive command and needs to be run in Hive CLI. Delta's metastore support for Spark is still WIP. It will require Spark 3.0.

[2020-02-26 06:26] #17 closed

[2020-02-26 18:21] zsxwing opened #21 "Run unit tests in Tez mode"
Tez is the default execution engine in Amazon EMR. It would be great that we can run our unit tests in Tez mode so that we can make sure it's working out of the box.

[2020-02-26 21:00] zsxwing commented on #19
I'm closing this. This issue has been tracked in https://github.com/delta-io/delta/issues/85

[2020-02-26 21:00] #19 closed

[2020-03-09 06:24] zsxwing opened #25 "Remove the column order requirement when checking schema"
Currently, we require the column order to be the same in Hive and Delta. It's not necessary technically, if we calculate the partition column location using Hive schema instead.

[2020-03-09 17:59] #18 closed

[2020-03-10 20:25] amarsladdha opened #27 "(Question) Can Delta-Hive connector auto-detect new data?"
Hello,

I am using the manifest-generation solution to connect Delta Lake with Presto. I am seeing decent latency between Delta Lake and Presto because of manifest regeneration. This Delta-Hive Connector does seem a nice alternative, so would like to know about it.

- Initial solution to support Presto was to generate manifest every-time there was a change in Delta lake. Would we still need to do

[2020-03-10 20:44] amarsladdha commented on #27
Posted this question to the delta users group, will close this issue.

https://groups.google.com/forum/#!topic/delta-users/MwZunzNo4GU

[2020-03-10 20:44] #27 closed

[2020-03-12 01:10] amarsladdha opened #28 "Presto doesn't recognise Hive-External table for Delta: com.facebook.presto.spi.PrestoException: InputFormat is not present in StorageFormat"
Hello,

I am seeing following exception when I used this connector with presto. Can you please help me with this issue.

### A) My server setup:
1. Spark 2.4.4
2. Hadoop 3.2.1
3. Hive 2.3.6
4. Scala 2.11.12
5. Presto 0.228

### B) Build changes:
I had to change the change some build options in order create connector jars for my cluster

[code]

### C) Exception:

[code]

Thanks,
Amar

[2020-03-12 01:16] zsxwing commented on #28
Unfortunately, this connector doesn't work in Presto. It doesn't support Hive's StorageHandler interface which we implement to make it work with Hive.

[2020-03-12 01:32] amarsladdha commented on #28
Hi @zsxwing ,

Thank you for clarifying.

Presto documentation says that it can support custom storage handlers but we need to manually add the handler jars to all nodes. Do you think if these steps will work for Delta-Hive storage handler?

<img width="1074" alt="image" src="https://user-images.githubusercontent.com/4811706/76478538-39a4d680-63c6-11ea-8651-dced133fe728.png">

In any case, will yo

[2020-03-19 02:08] zsxwing commented on #28
I didn’t know this. Could you try it if you have the environment ready and report back, please? We don’t have plans for Presto right now. It would be great that the delta storage handler works in Presto as well.

[2020-03-24 07:55] #21 closed

[2020-04-01 16:52] zsxwing opened #33 "One single uber JAR for Hive connector"
Currently using Hive connector requires two JARs. It would be great that we build one single uber JAR to make it more convenient.

[2020-04-03 02:01] chongchuanbing opened #35 "ERROR : Output Format must implement HiveOutputFormat, otherwise it should be either IgnoreKeyTextOutputFormat"
CREATE EXTERNAL TABLE student(id string, name string, age string)
ROW FORMAT SERDE 'org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe'
STORED AS INPUTFORMAT 'io.delta.hive.DeltaInputFormat'
OUTPUTFORMAT 'io.delta.hive.DeltaOutputFormat'
LOCATION '/tmp/student';

20/04/03 09:59:16 ERROR ql.Driver: FAILED: SemanticException [Error 10055]: Output Format must implement HiveOutputFormat, othe

[2020-04-03 02:12] zsxwing commented on #35
The create table statement you posted here is not the right statement to create a Delta table. It should be something like this:

[code]

[2020-04-07 18:17] DasariBhanu opened #36 "Support for Hive 3"
Hi
I am following this connectors github link: https://github.com/delta-io/connectors/releases/v0.1.0

Hive version: 3.1.0

Added below jars to Hive CLI
delta-core-shaded-assembly_2.12-0.1.0.jar
hive-delta_2.12-0.1.0.jar

Executed below statements in Hive CLI
SET hive.input.format=io.delta.hive.HiveInputFormat;
SET hive.tez.input.format=io.delta.hive.HiveInputFormat;

Trying to create a hive exter

[2020-04-07 18:30] zsxwing commented on #36
@DasariBhanu Thanks for reporting this. We only support Hive 2.x currently. Other limitations are also documented here: https://github.com/delta-io/connectors#frequently-asked-questions-faq

[2020-04-09 06:37] DasariBhanu commented on #36
@zsxwing Thanks for the update. Do we have any estimated time on when we can expect to support for Hive 3.x ?

[2020-04-10 09:00] chongchuanbing commented on #35
thank you.

[2020-04-10 09:00] #35 closed

[2020-04-10 09:01] chongchuanbing opened #37 "ClassNotFoundException: shadedelta.org.xml.sax.helpers.DefaultHandler"
who can tell me what's this.

shadedelta.org.xml.sax.helpers.DefaultHandler

[2020-04-10 09:02] chongchuanbing commented on #37
i can not find this class.

[2020-04-10 16:24] zsxwing commented on #36
We don't have a plan for Hive 3.x. We decided to choose 2.x because that's the most popular Hive major version.

@windpiger do you have any plan for Hive 3.x from your side?

[2020-04-10 16:25] zsxwing commented on #37
Could you provide steps to reproduce this issue? We shade classes to avoid conflicts with existing libraries in Hive. This is one of the shaded classes.

[2020-04-10 16:26] zsxwing commented on #37
It would be great if you can also share the full stack trace so that we can know which place needs this class.

[2020-04-22 09:13] chongchuanbing opened #38 "when support spark3.0"
spark 3.0.0-rc1
delta 0.5.0

[code]

[2020-04-23 15:17] SnchitGrover commented on #36
Just my 2 cents, HDP (Hortonworks Data Platform) 3 is shipping with hive 3. Which will make use of delta + hive very limited.

[2020-04-24 02:16] chongchuanbing opened #39 "when support hive on spark"
[code]

when use hive on spark. the full stack trace:

[code]

[2020-04-30 13:10] zsxwing commented on #39
We don't have a plan to support Hive on Spark. Currently the connector contains Spark itself and it conflicts with the Spark version that Hive ships. Could you try to use Spark directly?

[2020-05-06 18:43] JGustavo0 commented on #36
I agrey.

I have a customer who has now purchased the Cloudera Data Platform, with Hive 3.which complicate the use of Delta Lake, mainly because of the  Data Catalog Management, etc

[2020-05-08 04:55] chongchuanbing opened #40 "DeltaLog java.io.IOException: Filesystem closed"
when use hive jdbc,hive metastore operation error, the full stack trace:
[code]

[2020-05-09 02:38] chongchuanbing commented on #40
solution:
change the spark config in hive. add config "fs.hdfs.impl.disable.cache=true"

suggest open the config of spark in hive.

[code]

[2020-05-12 09:52] #39 closed

[2020-05-12 09:52] #37 closed

[2020-05-22 18:13] vbattuma opened #41 "Failed to create external table from Athena"
I am running the following steps to integrate Athena with Delta Lake

[code]

CREATED delta_db from GLUE.

[code]

Your query has the following error(s):
FAILED: Execution Error, return code 1 from org.apache.hadoop.hive.ql.exec.DDLTask. java.lang.UnsupportedOperationException: Unknown field type: binary

Would need help to resolve this issue to query delta table data from Athena.

[2020-06-24 21:35] rohan-0100010110010100 opened #42 "Does delta lake supports hive 3 via spark-hive metastore API?"

[2020-06-25 18:59] zsxwing commented on #38
This connector cannot be used in Spark. See https://github.com/delta-io/connectors/blob/v0.1.0/README.md#can-i-use-this-connector-in-apache-spark-or-presto

[2020-06-25 19:00] zsxwing commented on #42
I'm not sure if I get the question. If you are asking whether you can use this hive connector in Hive 3, the answer is no. We are discussing this in #36.

[2020-06-26 17:48] zsxwing commented on #41
This is not a connector for Athena. As you are using `DeltaTable. generate`, please create the ticket in https://github.com/delta-io/delta which provides this feature.

[2020-06-26 17:48] #41 closed

[2020-07-01 03:00] rohan-0100010110010100 commented on #42
Okay what you've explained has answered my question. Thank You

[2020-07-01 03:00] #42 closed

[2020-07-01 12:49] mmuru opened #43 "A generic connector support"
I would like to purpose an enhancement request to add a generic, open standard JDBC connector support for Delta lake tables so that any JDBC SQL clients and BI tools able to connect and explore the data. Also, the connector should provide a plugin like an interface that others can extend and add new connectors easily. The current Hive connector has limited support  and should support all hive engi

[2020-07-06 23:19] zsxwing commented on #43
Delta Lake is a storage format. It's not an engine. The user needs to use an engine to read the table and do the computation. They should use the JDBC connector provided by the engine instead.

Do you mean a native reader to read Delta tables without Spark?

[2020-07-06 23:21] zsxwing commented on #38
If you are looking for how to read Delta tables in Spark 3.0.0, [Delta Lake 0.7.0](https://github.com/delta-io/delta/releases/tag/v0.7.0) has been released. You can use it in Spark 3.0.0.

[2020-07-06 23:21] #38 closed

[2020-07-16 19:28] mmuru commented on #43
Yes, a native reader to read Delta tables which supports JDBC/ODBC clients.

[2020-08-28 14:24] langelgjm opened #46 "CREATE EXTERNAL TABLE fails with java.lang.IllegalArgumentException: System memory 242745344 must be at least 471859200"
I try to create an external table using sample delta data (converted from regular parquet files here: https://github.com/Teradata/kylo/tree/master/samples/sample-data/parquet):

[code]

I receive the following error:

[code]

Traceback:

[code]

Since the Hive connector uses its own local Spark, I cannot configure this setting through the normal means (spark-defaults.conf). Also it turns out the e

[2020-09-03 17:32] zsxwing commented on #46
`spark.testing.memory` is a config to allow we running tests in a low heap JVM. It's not a config that should be used in production codes.

What's the heap size in your hive client? Generally, Spark requires at least 1GB heap.

[2020-09-03 17:36] zsxwing commented on #43
JDBC/ODBC means you need a computation system (Spark, Hive, Presto, Impala) to execute the SQL queries. Delta Lake is a storage format which cannot execute SQL queries. What we can do is building a native reader without using Spark so that it can be used to build connectors for computation systems (Hive, Presto, Impala) easily.

[2020-09-03 19:07] langelgjm commented on #46
You're right, it looks like we just had the default Hive shell heap size of 256 MB. Placing `export HADOOP_HEAPSIZE=1024` in `hive-env.sh` fixed this issue. We can now create the external table using the JARs compiled with no changes.

[2020-09-03 19:07] #46 closed

[2020-09-04 19:54] mmuru commented on #43
I mean, build a native JDBC/ODBC reader using apache calcite to read Delta tables. Totally I understand Delta lake is a storage format but they are parquet files that can be read by Apache Drill or similar.

[2020-09-28 08:09] swami86 opened #48 "Support for hive 3.1.2 / EMR 6.1"
Hi - Can we add support for hive 3.1.2 on EMR 6.1. This could be an enhancement request to the current version.

[2020-09-28 08:17] swami86 opened #49 "Counts are not working with hive table created for Delta format"
Hi - I could able to query the delta format data by creating a hive table. But on count(*) of the hive table getting Class io.delta.hive.HiveInputFormat not found error.

org.apache.hive.service.cli.HiveSQLException: Error while processing statement: FAILED: Execution Error, return code 2 from org.apache.hadoop.hive.ql.exec.tez.TezTask. Vertex failed, vertexName=Map 1, vertexId=vertex_160127901328

[2020-10-05 16:48] zsxwing commented on #49
Did you add Delta jars to the `HIVE_AUX_JARS_PATH` env?

[2020-10-05 16:50] zsxwing commented on #48
We are working on a connector which doesn't depend on Spark. This will make us easy to support Hive 3.

[2020-10-05 16:54] zsxwing commented on #43
@mmuru IIUC, Apache Calcite is not an execution engine. Apache Drill is similar to Spark, Hive, Presto or Impala. We need to build a connector to make Apache Drill understand Delta Lake transaction logs. It looks like you are just asking for a connector that can be used in Apache Drill so that you can use its JDBC/ODBC connector to query a Delta Lake table in Apache Drill.

[2020-10-05 16:56] zsxwing commented on #48
Closing this issue. Hive 3 support is tracked by #36

[2020-10-05 16:56] #48 closed

[2020-11-02 18:37] zsxwing commented on #40
This has been resolved by #51 which removes Spark from the Hive connector.

[2020-11-02 18:37] #40 closed

[2020-11-03 01:08] zsxwing commented on #33
Resolved by #54

[2020-11-03 01:08] #33 closed

[2020-11-03 01:09] zsxwing commented on #13
#51 fixes this one

[2020-11-03 01:09] #13 closed

[2020-11-03 03:09] schahaha commented on #43
Is there any native reader to read delta file ? If is ,any examples?
I want to use my application to read and write detla file.

[2020-11-06 00:05] Emanueldamianpaz commented on #28
Hello, are there plans to develop the Delta-presto connector soon?

[2020-12-03 00:36] zsxwing opened #63 "Delta Standalone Reader doesn't work with jackson-moudle-scala 2.10.0"
Due to the binary incompatible change in jackson-moudle-scala 2.10.0,  the following line in `JsonUtils` is compiled with jackson-moudle-scala 2.6.7.1, and it doesn’t work when jackson-moudle-scala 2.10.0 is on the classpath.

[code]

[2021-01-10 16:16] sabyasachinandy commented on #36
Any updates on this or should I make a PR?

[2021-01-10 22:34] tdas commented on #36
Please go ahead and make a PR if you get Hive 3 working!

[2021-01-13 14:29] dvdgnzlz-maths opened #71 "Create Hive table from Delta Lake using HiveQL"
Hi everyone,

I try to create one table in Hive from Delta lake but the Hive shell return me the following message:

I have the next delta table:

[code]

I run CREATE TABLE in Hive shell:

[code]
or else

[code]

Does anyone know what can happen?

Thanks in advance.
Best regards,

[2021-01-13 22:06] zsxwing commented on #71
If you need to query the table in Spark, you need to use Spark to create a Spark data source table such as
[code]

If you need to query the table in Hive, you need to use Hive to create a Hive table such as
[code]

A table created by Spark cannot be queried by Hive and vice versa.

[2021-01-15 07:49] dvdgnzlz-maths commented on #71
Thanks @zsxwing for your answer.

Finally you can run the query. The thing is that I have a docker-compose and, I didn't realize that the files were in different volumes (a Spark container and another Hive container)

I have been able to create from a DeltaTable a table in Hive.
`
CREATE EXTERNAL TABLE delta_tbl(`date` int, delay int, distance int, origin string, destination string)
ROW FORMAT SER

[2021-01-15 07:49] #71 closed

[2021-01-15 09:49] dvdgnzlz-maths opened #72 "Deltalake Atlas Connector"
Hi everyone,

This Databricks article

discusses the possibility of using Apache Atlas for Data Cataloguing.

I'm working with this idea. The problem is that there is no connector for Delta Lake and Atlas. I am trying to use the Spark connector that comes in Apache Atlas (built by Hortonwork) but I have compatibility problems. The thing is that the connector that use Apache Atlas has a Scala 2.11

[2021-01-20 17:48] SenthilNayagan opened #73 "Can't able to create delta table in Hive 2.3.8 - Getting Execution Error from org.apache.hadoop.hive.ql.exec.DDLTask. org.json4s.jackson.JsonMethods$.parse$..."
**My environment:**
HDP: 3.1.4
Ambari: Version 2.7.4
Hive: 2.3.8 (Installed as a standalone one)
Spark: 3.0.1 (Pre-built for Hadoop 2.7)

**Step 1:**
In my Hive 2, I have added the following properties in **hive-site.xml**:
[code]

**Step 2:**
Created a simple delta data using Apach Spark (pyspark) as shown below:
[code]

**Step 3:**
In my Hive 2 CLI, I have added Hive connector uber jar using the

[2021-01-21 01:33] zsxwing commented on #73
Could you check what's the josn4s version in your environment? Looks a binary incompatibility issue of json4s

[2021-02-02 20:26] aleksandersumowski opened #74 "Flink Connector"
it would be amazing if it was possible to read Delta formatted data in Apache Flink

[2021-02-02 23:50] zsxwing commented on #74
We have built Delta Standalone Reader so this should make the Flink connector easier to build. If anyone familiar with Flink would like to build it, I'm happy to advise how to use Delta Standalone Reader APIs.

[2021-02-09 07:46] tarekabouzeid commented on #36
Hi,

Do you know by which date Hive 3.x is expected be supported ?

Best Regards,

[2021-02-22 17:19] chrisjkeeney opened #77 "Cannot view columns from Delta Hive tables in DBeaver or when connecting to PowerBI"
I'm using PySpark to save Delta-Hive tables for Spark Thrift Server to access so the data can be queried externally or connected to a BI Tool such as PowerBI. When trying to load the table into PowerBI directly, I get the error `This query does not have any columns with the supported data types. It will be disabled from loaded to the model`. However, when I do a custom SQL query import using `SELE

[2021-03-08 19:49] rtyler opened #81 "Convert build to GitHub Actions"
Right now the project uses [circleci](https://github.com/delta-io/connectors/blob/master/.circleci/config.yml) which doesn't allow anonymous view of the build logs (I had to create an account :unamused: )

The build looks pretty simple to convert to GitHub Actions, probably would be a fairly easy "good first issue" :smile_cat:

[2021-04-09 17:06] abhilater opened #84 "Hive SQL counts queries are not working on Hive tables created on Delta format"
Hive external tables created on Delta format paths are working for simple select queries but not for aggregated count queries.

### Steps to reproduce

1. Added delta-hive assembly jar to classpath using following approach
[code]

2. Restarted Hive server
sudo systemctl stop hive-server2.service
sudo systemctl start hive-server2.service

### On Hive CLI

3. hive
[code]

4. Create Ext Table

[code]

[2021-04-09 17:31] zsxwing commented on #84
This sounds a Hive specific issue. I'm not familiar with how `hive.aux.jars.path` works internally. Maybe ask this in hive mailing list?

[2021-04-09 18:34] abhilater commented on #84
I am also guessing the same, will check in the Hive mailing list on what is the right way to add a permanent JAR on Hive's classpath. The Delta Hive Connector documentation just mentions updating `hive.aux.jars.path` on the node where we are running Hive client, but it is clear that it is not enough for aggregate queries that runs on TEZ/YARN.

[2021-04-09 18:47] zsxwing commented on #84
Cool. It would be great if you can help us improve the doc after you get the answer from the Hive community.

[2021-04-14 12:20] abhilater commented on #84
@zsxwing  We were able to get this working using the Hive CLI `ADD JAR` command.

[2021-04-18 09:17] lmichelbacher opened #85 "Delta Standalone writer"
Are there any plans for a standalone writer?

[2021-04-28 11:20] dharshanshastry opened #86 "Hive 3+ support"
The Latest Hive connector release is compatible with Hive 2+ releasees.  Any idea when can we expect Hive 3+ support ?

Trying with Hive 3.0 ends up with below exception as "MetaStoreUtils is moved to utils package in Hive 3"

`java.lang.NoClassDefFoundError: org/apache/hadoop/hive/metastore/MetaStoreUtils
	at io.delta.hive.DeltaStorageHandler.preCreateTable(DeltaStorageHandler.scala:173) ~[delta-

[2021-04-29 19:03] dennyglee commented on #85
Not in the short term but please check out the https://github.com/delta-io/kafka-delta-ingest as part of the Delta RS project on its ongoing project for a standalone writer.

[2021-04-29 22:02] dennyglee commented on #86
We do not have a current timeline for this though it is a good idea.

[2021-05-01 02:34] dennyglee commented on #84
Thanks, @abhilater - as you noted, we'll close this issue.

[2021-05-01 02:34] #84 closed

[2021-05-01 02:37] dennyglee commented on #81
Let me take a look at this and get back with some thoughts/approaches.

[2021-05-01 02:45] dennyglee commented on #77
Hive is basically the pointer to the location of the Delta table - the schema and metadata are located in the `_delta_log` folder.  I do not believe DBeaver is able to read the Delta table transaction log so if your Delta table has many transactions in it, you may be reading all of the Parquet data (i.e. duplicate data) vs. just the current snapshot (or whichever snapshot you would like).

Saying

[2021-05-01 02:53] dennyglee commented on #72
Are you using this [spark-atlas-connector](https://github.com/hortonworks-spark/spark-atlas-connector)?  If so, yes I'm a little concerned as it has not been updated to Spark 3.0 and the Delta project is very much focusing on Spark 3+ due to the performance improvements included (AQE, dynamic partition pruning, catalog API, etc.)

[2021-05-01 14:12] chrisjkeeney commented on #77
Thanks for the reply! I’m using Spark Thrift Server to do general purpose queries on the Hive tables and it appears Delta Lake isn’t able to do that as of yet. Is my intuition correct there?

Looks like Databricks has a way to do this using their internal Delta Engine, but I can’t find any information on using Spark Thrift Server with Delta Tables

[2021-05-01 16:44] dennyglee commented on #77
No problem at all, yes your intuition is correct because the general purpose queries on the Hive tables (via Thrift) is obtaining all of the metadata from Hive.  The metadata for a Delta table is stored directly into the file system (same folder as the table). I forgot to mention perhaps you can use the [Hive connector](https://github.com/delta-io/connectors) and see if that helps?

[2021-05-04 23:02] dennyglee commented on #81
Had a good chat with @zsxwing and he also agrees this is a good idea?  Any thoughts or concerns by others if we shift connectors to Actions?   @rtyler are you interested in doing it?  No worries, if not I've already assigned this to myself :)

[2021-05-04 23:09] dennyglee commented on #49
Hi @swami86 - by any chance any update on this issue?  Thanks!

[2021-05-04 23:24] dennyglee commented on #43
Hi @lecssmi - currently this connectors folder has the Delta Native Reader as well as the delta-rs repo as the Rust API per [Natively Query Your Delta Lake With Scala, Java, and Python](https://databricks.com/blog/2020/12/22/natively-query-your-delta-lake-with-scala-java-and-python.html). HTH!

[2021-05-04 23:26] dennyglee commented on #28
As noted,  with the linked PR #82 - this is being worked on in addition to the current manifest method.

[2021-05-06 04:38] dharshanshastry commented on #86
Thank you 👍

[2021-05-07 12:52] NidhalSAADAOUI opened #88 "Error while reading Delta table from S3 using standalone reader"
I am trying to read a delta table from **S3** using **delta-standalone_2.12** version **0.2.0** , i provided the the access key and the secret key in the org.apache.hadoop.conf.Configuration  version **2.10.1** and i get the error **java.lang.ArrayIndexOutOfBoundsException: 12111**, for the versions **3.3.0** i get the error **java.lang.ClassNotFoundException: com.fasterxml.jackson.annotation.Json

[2021-05-07 14:44] NidhalSAADAOUI commented on #88
version 3.3.0:
java.lang.NoClassDefFoundError: Could not initialize class io.delta.standalone.internal.util.JsonUtils$$anon$1
	at io.delta.standalone.internal.util.JsonUtils$.mapper$lzycompute(JsonUtils.scala:34)
	at io.delta.standalone.internal.util.JsonUtils$.mapper(JsonUtils.scala:33)
	at io.delta.standalone.internal.SnapshotImpl.$anonfun$load$4(SnapshotImpl.scala:84)
	at scala.collection.Trave

[2021-05-10 22:59] tdas commented on #88
I think this is something to do with jackson version that is loaded at runtime. Compare the version loaded with the one needed by delta standalone reader - https://github.com/delta-io/connectors/blob/master/build.sbt#L265

[2021-05-20 03:24] cynthiavincent opened #90 "Can you use this hive connector with pyspark?"
I see the configuration provided for scala and java and the usage for the same. Is there a way to read delta lake tables using hive by creating external tables using pyspark?
Or do I need to create external tables on presto and access the tables from there?

[2021-05-20 03:54] zsxwing commented on #90
You can create the tables using PySpark. However, in order to read such tables in Hive, you need to register it in Hive Metastore using Hive CLI using the following syntax:

[code]

[2021-05-21 10:58] dharshanshastry opened #91 "Count(column_name) fails in Hive"
Hi All,

I have set up delta hive connector jars in Hive CLI correctly, and I am to execute the below query successfully.
`Select * from <tableName>`

But, count(*) query is failing in hive. Any idea why this is failing ?

`select count(*)  from <tableName>`

Exception I see in debug mode is below.

`select count(cluster_id) from t1;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be avail

[2021-05-25 04:27] arun990 opened #92 "Hive create external table giving error .."
After having the Deltatable and with some delta data at the location, attemped to create external table by following the steps mentioned in https://github.com/delta-io/connectors for hive connector, got the below error.
Appreciate you advise on how to address it.

FAILED: Execution Error, return code 1 from org.apache.hadoop.hive.ql.exec.DDLTask. org/apache/hadoop/hive/metastore
/MetaStoreUtils

[2021-05-25 04:45] zsxwing commented on #92
Which Hive version are you using?

[2021-05-25 14:42] arun990 commented on #92
Hi zsxwing,

Got the above shared error in Hive 3.x and understood that Hive 3.x is not supported.
Then changed to the environment with Hive 2.x version and getting the similar below error for Hive 2.3.7 when attempted
to create external table.
error on Hive:
FAILED: Execution Error, return code 1 from org.apache.hadoop.hive.ql.exec.DDLTask. com.google.common.util.concurren
t.UncheckedExecutionExc

[2021-05-25 16:45] zsxwing commented on #92
This is something new. Could you find the full stack trace and post it here?

[2021-05-26 06:22] arun990 commented on #92
Have changed the Delta connector Hive jars  (from v0.2.0) to v0.1.0 and then getting the similar (slightly modified) Hive error as below:

Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
FAILED: Execution Error, return code 1 from org.apache.hadoop.hive.ql.exec.DDLTask. java.lang.ArrayIndexOutOfBoundsException: 17418

The error is happening when attempted to create

[2021-05-27 19:26] darkknight100 commented on #74
Hey @zsxwing @dennyglee  I would like to nominate myself for the Flink connector. I have some experience with Apache Flink for around 1.5 years.

[2021-05-27 19:32] dennyglee commented on #74
That would be great, Vaibhav!   Is there anything we can do to help?  Would
it help if we jumped onto a Flink/Delta sync some time?

Sent via Superhuman ***@***.***>

On Thu, May 27, 2021 at 12:26 PM, Vaibhav Gour ***@***.***>
wrote:

[2021-05-27 23:30] darkknight100 commented on #74
Thanks Denny for the reply. Yes, that would be a better way to start things.

[2021-05-27 23:31] darkknight100 commented on #74
Thanks Denny for the reply. Yes, that would be a better way to start things.

[2021-06-01 16:59] dennyglee commented on #74
Cool!  Could you join the Delta Users Slack (https://dbricks.co/delta-users-slack) and we can continue the conversation and schedule there?  Thanks!

[2021-06-05 04:40] zsxwing commented on #86
Closing this. We will use the existing issue #36 to track Hive 3 support.

[2021-06-05 04:40] #86 closed

[2021-06-16 16:31] jdonnelly-apixio opened #95 "delta lake 1.0.0 support"
Hey,

Does 0.2.0 of the connector support delta lake 1.0.0? If not, are there any plans to support it?

Thanks,
Jon

[2021-06-16 17:31] zsxwing commented on #95
Since Delta Lake 1.0.0 doesn't introduce any reader side incompatible change, you should be able to use this connector to read tables written by Delta Lake 1.0.0.

[2021-06-16 18:04] jdonnelly-apixio commented on #95
Awesome, thank you.

[2021-06-16 18:04] #95 closed

[2021-06-17 17:01] bkumaran08 opened #96 "Illegal Access Error while querying the created hive table through deltalake connector"
Hive version :  2.6
delta lake connector version : delta-hive-assembly_2.11-0.2.0.jar
Spark version : 3.1.1
Scala version :2.12
delta-core : 1.0.0

I have created a deltalake table using spark, and then I am able to create a hive table out of it using delta lake connector.

When we tried to access the created table in hive, it is throwing below error.

Delta lake table is working fine when I query

[2021-06-17 17:19] zsxwing commented on #96
Please check this [FAQ](https://github.com/delta-io/connectors#if-i-create-a-table-using-the-connector-in-hive-can-i-query-it-in-apache-spark-or-presto)

[2021-06-17 17:24] zsxwing commented on #96
NVM. I misread your question.

I found the method we used required Hive 2.3: https://github.com/apache/hive/blob/rel/release-2.3.0/ql/src/java/org/apache/hadoop/hive/ql/io/parquet/read/DataWritableReadSupport.java#L73

It's private before Hive 2.3.0. Thanks for reporting this.

Is it a typo since Hive doesn't have any 2.6.x version. Could you try to upgrade the Hive version?

[2021-06-21 07:57] serdarmutlu opened #97 "Unable to compile sql-delta-import"
Trying to compile sql-delta-import, but facing the following error. I face same error with hive-tez too.

<my_server>:~/connectors-master$ build/sbt sql-delta-import/compile
Using /usr/lib/jvm/java-8-openjdk-amd64 as default JAVA_HOME.
Note, this will be overridden by -java-home if it is set.
[info] Loading project definition from ~/connectors-master/project
[info] Set current project to connector

[2021-06-21 12:32] jaceklaskowski commented on #97
That looks like a user error not connector's and should really go to https://groups.google.com/g/delta-users.

Please send an email to the forum and close this "issue". Thank you.

[2021-06-23 01:47] #90 closed

[2021-06-25 15:21] serdarmutlu commented on #97
I was able to compile other components like standalone, and hive. I faced problem with sql-delta-import, and hive-tez. Hence I don't believe it is user error.

Anyway, I compiled sql-delta-import with Intellij.

Closing this issue.

[2021-06-25 15:21] #97 closed

[2021-06-25 17:44] zsxwing commented on #97
@serdarmutlu The command should be `build/sbt sqlDeltaImport/compile`.

[2021-07-08 10:21] carlosg-m opened #99 "PowerBI dataset doesn't refresh with Delta connector and Data Lake Gen2"
I'm using the Delta connector with a Data Lake Storage Gen2 source. When in PowerBI desktop everything works, I can preview the tables and refresh the content, and the experience is flawless.
[code]

However, after publishing the dashboard, it's no longer possible to refresh the dataset.
The error is related with the dataset not being a dynamic data source.

[code]

[2021-07-08 11:06] carlosg-m commented on #99
I used @gbrueckl's version and it fixed the issue.
- https://github.com/gbrueckl/connectors/blob/master/powerbi/fn_ReadDeltaTable.pq

You should consider update this repository.

I'm going to take this opportunity to thank the author @gbrueckl.

Amazing work it really saved me a lot of time, our old setup was using Azure Data Lake, SQL Server and PowerBI and it was taking 2h in SQL Server and 1h:3

[2021-07-08 11:18] gbrueckl commented on #99
yes, it is already fixed in my fork
the PR to also get the fix into this repo is open and I am waiting for @dennyglee to finally approve it ;)

[2021-07-08 16:18] dennyglee commented on #99
Yeah, this is my bad - I'm merging #94 as we speak.

[2021-07-08 16:18] #99 closed

[2021-07-09 06:16] sumeetgupta07 opened #100 "UPSERT Operations using Hive Connectors"
Delta only supports read operations through Hive.
This issue is a functionality addition request to allow INSERT/UPDATE/DELETE operations through Hive

[2021-07-09 19:15] maver1ck commented on #74
@darkknight100 Do you need any help with this ?

[2021-07-11 03:26] dennyglee commented on #74
Hi @maver1ck - if you’re up for joining the effort on the Flink/Delta connector, please join us on the Delta Users Slack (https://dbricks.co/delta-users-slack) and join the Flink-Delta-Connector channel.  We have syncs every two weeks, eh?!  HTH!

[2021-07-12 06:21] zsxwing commented on #100
Thanks for opening the ticket. We will visit this when #85 is done.

[2021-07-13 22:15] vivin commented on #63
Any updates on this?

[2021-07-19 17:05] zsxwing opened #101 "Add an API to expose incremental metadata changes in a Delta table"
We need an API similar to https://github.com/delta-io/delta/blob/master/core/src/main/scala/org/apache/spark/sql/delta/DeltaLog.scala#L222 so that a streaming reader can load changes in a Delta table incrementally.

[2021-07-27 18:39] gbrueckl opened #104 "PowerBI: Add support for TIMESTAMP AS OF"
Beside the already existing support for `VERSION AS OF`, it should also be possible to query a Delta lake table using `TIMESTAMP AS OF` in a similar way - e.g. as part of the optional second parameter

[2021-07-27 18:42] dennyglee commented on #104
Great enhancement idea - let's do it! :)

[2021-08-02 14:12] gbrueckl opened #108 "PowerBI: add bettersupport for complex data types (struct, map, array)"
currently, complex data types are not supported - those should be added and casted automatically

[2021-08-02 14:14] gbrueckl opened #109 "PowerBI: add support for TimeZone Offset"
when reading timestamp fields, it should be possible to set a timezone similar to `spark.sql.session.timeZone`
https://databricks.com/blog/2020/07/22/a-comprehensive-look-at-dates-and-timestamps-in-apache-spark-3-0.html

[2021-08-02 18:24] #101 closed

[2021-08-04 03:26] dennyglee opened #110 "Delta Source for Apache Flink"
Build a Flink/Delta source (i.e., Flink reads from Delta Lake) potentially leveraging the [Delta Standalone Reader](https://github.com/delta-io/connectors#delta-standalone-reader).  Expansion of issue #74 .

## PR Plan:
- PR 5 - Option support in Bounded Mode - **DONE**
- PR 6 - Continuous mode without monitoring for changes - **DONE**
- PR 6.1 - Package Refactoring - **DONE**
- PR 7 - Monitoring

[2021-08-04 03:28] dennyglee opened #111 "Delta Sink for Apache Flink"
Build a Flink/Delta sink (i.e., Flink writes to Delta Lake) potentially leveraging the Delta Standalone Writer per #85.   This issue expands on #74

This work is currently in progress. Here are a list of tasks that need to be completed.

- [x] Basic sink and writer framework - #196 and #213
- [x] Committable generation with ids needed for txn guarantees - #220
- [ ] Committing to the Delta table w

[2021-08-05 04:55] sijie opened #112 "Pulsar + Delta Integration"
*Motivation*

Pulsar is a cloud-native messaging and streaming platform. It has been well adopted by many companies in different regions. There is a need requested from the Pulsar community to have a native integration between Pulsar and Delta lake.

There can be many different integrations between Pulsar and Delta Lake. Here are some ideas:

1. A Pulsar source connector to capture the data change

[2021-08-16 09:52] melin opened #114 "Dependent jackson-module-scala_2.12 version 2.6.7.1, lower version"
Dependent jackson-module-scala_2.12 version 2.6.7.1, lower version
<dependency>
            <groupId>com.fasterxml.jackson.module</groupId>
            <artifactId>jackson-module-scala_2.12</artifactId>
            <version>2.12.4</version>
        </dependency>

[2021-08-23 02:34] YannByron opened #115 "Remove spark dependency"
Remove all of spark dependencies from connectors. And write the data in advance for Hive unit tests.

[2021-08-23 03:40] frankxieke commented on #112
I will work on this issue this week.  Please assign this issue to me and hang chen.

[2021-08-23 03:46] hangc0276 commented on #112
Yes, we are working on this issue. Please assign this issue to me and @frankxieke, thanks.

[2021-08-28 00:35] nicknezis commented on #111
I would be very interested in this. I've had similar thoughts for an Apache Heron sink. Perhaps we could collaborate on this feature?

[2021-08-28 01:57] dennyglee commented on #111
Sure @nicknezis - perhaps create a new issue specific to Apache Heron and we can find some time to chat about this?

[2021-08-29 01:18] nicknezis opened #121 "Delta Spout for Apache Heron"
Build a Heron/Delta source (i.e., Heron reads from Delta Lake) potentially leveraging the Delta Standalone Reader. Expansion of issue #74 which was created for Flink. If created properly, this could also benefit Apache Storm.

[2021-08-29 01:19] nicknezis opened #122 "Delta Sink for Apache Heron"
Build a Heron/Delta sink (i.e., Heron bolt writes to Delta Lake) potentially leveraging the Delta Standalone Writer per #85. This issue expands on #74 (which was made for Flink).

[2021-08-29 01:21] nicknezis commented on #111
Thank you Denny. I've created #121 and #122 to capture the Heron equivalent issues.

[2021-08-31 04:12] dennyglee commented on #121
Thanks @nicknezis  - could you add a comment to the [Delta OSS Roadmap 2021 H2](http://github.com/delta-io/delta/issues/748) to garner community interest?  Thanks!

[2021-08-31 16:20] zsxwing commented on #85
Hey, @lmichelbacher we are working on the design right now. It would be great if you can provide some details of your potential usage. For example, how are you going to use this? Do we want the library to generate parquet files for you, or you just want to commit some your parquet files to a Delta table?

[2021-09-01 06:55] wwang-talend opened #124 "call getBigDecimal(fieldname) when decimal(10,0) column with a value 1000000"
an exception:
[code]
the fix advice:
[code]

[2021-09-01 20:08] lmichelbacher commented on #85
👋 Hi,

What I have in mind are use cases where you stream data into Delta Lake tables on S3. The ideal match would be a library that I can run in an AWS Lambda function that is triggered by events on a Stream like Kinesis or Kafka. The events on the stream can be creates, updates or deletes and I'd like those to be enacted on Delta Lake tables as quickly as possible.

To achieve this currently, I

[2021-09-01 23:08] zsxwing commented on #85
@lmichelbacher I see. Are you going to batch events? Delta Lake is not design for frequent small writes. In addition, do you need APIs to write data, or you can write parquet files by yourself and then tell Delta Standalone Writer to add these files to the table?

[2021-09-03 03:09] wwang-talend opened #125 "if current parquet file is empty, it will stop iterate instead of iterate to next parquet file for reading data, not right"
Please see:

https://github.com/delta-io/connectors/blob/master/standalone/src/main/scala/io/delta/standalone/internal/data/CloseableParquetDataIterator.scala#L85

[2021-09-03 03:29] zsxwing commented on #125
Good catch! Thanks for reporting the issue. Feel free to submit a PR to fix it if you have time!

[2021-09-03 09:51] wwang-talend opened #126 "seems the partition column's value miss when row.get method"
[code]
And the schema/metadata api contains that column

any advice?

[2021-09-03 10:00] wwang-talend commented on #125
thanks, i will privide the pr later.

[2021-09-07 02:20] wwang-talend commented on #126
this is the pr to support that : https://github.com/delta-io/connectors/pull/127 ,  please help review

[2021-09-07 07:52] YannByron opened #128 "Support to define partition columns to create external table"
For now, for a partitioned delta table, we can use sql as followed to create external table.

`CREATE EXTERNAL TABLE  tableName (col1 string, pt string)
ROW FORMAT SERDE  'org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe'
STORED BY 'io.delta.hive.DeltaStorageHandler
LOCATION  '/path/to/delta/table'`

But, I wish to use sql as followed to do this, obviously define the partition columns.

[2021-09-09 00:08] scottsand-db opened #133 "Incompatible Jackson version: 2.8.4 when following Quick Start guide"
I've followed the quick start guide here: https://github.com/delta-io/connectors/wiki/Delta-Standalone-Reader. (Note: this issue is with SBT, and using Maven works as expected)

I've created a new SBT project with SBT version 0.13.8 and scala version 2.12.8.

When running my main class and trying to instantiate a DeltaLog and read from a delta table (written to by Spark), I get the following error

[2021-09-10 09:42] haridy commented on #85
Hello everyone, I am facing the same design choices that @lmichelbacher is considering and wanted to show support for the standalone (python) writer. The idea is to use a serverless function (for me on Azure) that is triggered by events on Kafka (single or batched, likely batched) and write the updates to a streaming table on Delta Lake. I think what's currently available on delta-rs can do that,

[2021-09-14 06:29] axiangcoding opened #135 "[Question] Can Delta Standalone Reader read specific partition instead of all partition?"
I only need to calculate the amount of data in specific partition in a spring application. I don’t need to read all the data. Is the function to read a specific partition currently available?
I see that there is no description in the document

[2021-09-14 08:13] axiangcoding commented on #135
This question is very similar to [https://groups.google.com/g/delta-users/c/qMYF7_5xghk/m/42sZKwCKAwAJ](https://groups.google.com/g/delta-users/c/qMYF7_5xghk/m/42sZKwCKAwAJ) , but it seems that there is no clear answer in the community?

[2021-09-15 20:46] dennyglee commented on #85
@haridy In your scenario, utilizing the Rust API certainly sounds like something you could _potentially_ do.  Perhaps jump on the Delta Users Slack in the Rust API channel and we can further discuss there?

[2021-09-17 03:35] zsxwing commented on #128
Closing this as per the discussion in #132.

[2021-09-17 03:35] #128 closed

[2021-09-17 16:27] zsxwing opened #137 "Shade jackson and json4s in Delta Standalone Reader"
The jackson and json4s libraries are pretty popular and used by many systems. People have hit the jackson incompatible issues many times. It's better to shade them in Delta Standalone Reader to avoid such incompatible issues.

[2021-09-17 16:28] zsxwing commented on #133
Closing this as a duplicate of #137.

[2021-09-17 16:28] #133 closed

[2021-09-17 16:29] zsxwing commented on #114
Closing this as a duplicate of #137.

[2021-09-17 16:29] #114 closed

[2021-09-17 16:29] zsxwing commented on #63
Closing this as a duplicate of #137.

[2021-09-17 16:29] #63 closed

[2021-09-17 16:30] zsxwing commented on #73
Closing this as a duplicate of #137.

[2021-09-17 16:30] #73 closed

[2021-09-17 16:32] zsxwing commented on #28
Closing this. It's expected that the existing Hive connector doesn't work with Presto. We are building a native Presto connector.

[2021-09-17 16:32] #28 closed

[2021-09-17 16:35] zsxwing commented on #88
Closing this as a duplicate of #137.

[2021-09-17 16:35] #88 closed

[2021-09-17 16:35] #49 closed

[2021-09-17 16:37] zsxwing commented on #43
@lecssmi We have released Delta Standalone Reader in 0.2.0.

Closing this ticket as we don't plan to build JDBC/ODBC connector which requires compute.

[2021-09-17 16:37] #43 closed

[2021-09-17 16:40] zsxwing commented on #135
Yep. This sounds useful. Feel free to open a PR 😄

[2021-09-17 16:41] zsxwing commented on #124
Good catch. Thanks for reporting the issue. Feel free to open a PR to make the fix 😄

[2021-09-17 17:56] zsxwing commented on #77
The question is answered. Closing this.

[2021-09-17 17:56] #77 closed

[2021-09-18 06:56] axiangcoding commented on #135
Thanks, I have found a way, but I am new to scala, it will take some time

[2021-09-20 01:32] zsxwing commented on #36
Fixed by #151

[2021-09-21 15:25] scottsand-db commented on #85
Here's our Design Requirements and Proposal Sketch document for the Delta Standalone Writer (DSW). Feel free to add your comments on this github issue.

[[2021-09-13] Delta Standalone Writer Public Document](https://docs.google.com/document/d/1MJhmW_H7doGWY2oty-I78vciziPzBy_nzuuB-Wv5XQ8/edit?usp=sharing)

[2021-09-21 16:50] noslowerdna commented on #135
I agree that it seems like a worthwhile enhancement - something along the lines of being able to supply a map of partition key-values should be relatively straightforward.

[2021-09-24 09:25] wwang-talend commented on #135
similar to this pr provided? https://github.com/delta-io/connectors/pull/76/files

[2021-09-24 16:22] noslowerdna commented on #135
@wwang-talend Yes I believe so. That PR is on the right track I think, I didn't know about it until you pointed it out. I added a couple comments to it. Would be nice to get it merged.

@zsxwing Yes it would be useful to have this feature.

[2021-09-29 02:27] #36 closed

[2021-09-29 06:26] Renkai opened #158 "Standalone connector for Scala 2.13"
Any plans on it? I need it, and if this repo is open to third-party patches, I think I can help.

[2021-11-05 22:06] zsxwing commented on #126
Fixed by #197

[2021-11-05 22:06] #126 closed

[2021-11-08 17:42] zsxwing commented on #96
Fixed by #198

[2021-11-08 17:42] #96 closed

[2021-11-09 02:53] spmp opened #202 "Hive: Add `AS OF` syntax support"
It would be _very_ helpful for the Hive connector to support the `AS OF` syntax - for example `TIMESTAMP AS OF` and `VERSION AS OF`.
 The Spark SQL interface is going through a PR now 8) (https://github.com/apache/spark/pull/34497)

Currently I have Spark batch processes to create end of day views, this would enable Hive users to do this directly.

[2021-11-09 17:15] zsxwing commented on #202
@spmp thanks for raising this. We would need to push the syntax to Hive so that the connector can use it, similar to the Spark PR. Could you raise a requirement in https://issues.apache.org/jira/browse/HIVE and see what the hive community replies?

[2021-11-09 22:40] huaxingao commented on #202
FYI: https://issues.apache.org/jira/browse/HIVE-25344

[2021-11-10 17:06] zsxwing commented on #202
@huaxingao Thanks for the information. Will try it when Hive 4.0.0 is out.

[2021-11-11 07:26] zsxwing commented on #92
Looks like this is the same as #88. Closing it as a duplicated ticket.

[2021-11-11 07:26] #92 closed

[2021-11-11 07:27] zsxwing commented on #25
Closing this as WON'T DO. It's better to make Spark and Hive maintain the same column order.

[2021-11-11 07:27] #25 closed

[2021-11-11 16:41] zsxwing commented on #85
Closing this. We have merged all of Delta Standalone Writer changes to the master branch. Will make a release soon.

[2021-11-11 16:41] #85 closed

[2021-11-11 16:42] zsxwing commented on #91
Sorry for the late reply. Could you provide your table schema? You can query this using Spark by running ```desc detail delta.`<your-table-path>` ```

[2021-11-12 19:30] allisonport-db opened #209 "GENERATE_GOLDEN_TABLES=1 build/sbt 'goldenTables/test' failure"
[code]
and
[code]

[2021-11-15 19:38] #124 closed

[2021-11-24 07:31] raphaelauv opened #218 "update documentation on standalone writer"
The doc do not give an example of how using the standalone writer, would be great. Thank you

[2021-12-01 17:23] hanna-liashchuk opened #221 "Caused by: scala.MatchError: RowParquetRecord (array=BinaryValue(Binary{7 constant bytes, [112, 97, 114, 116, 95, 100, 116]})) (of class com.github.mjakubowski84.parquet4s.RowParquetRecord)"
Hi, I'm using the delta-hive-assembly connector to create tables in Hive.
I have spark job that reads data from jdbc and writes it to delta with following spark session parameters:
[code]
I'm writing partitioned delta table

And when I try to create external table in Hive CLI I get next error:

`2021-12-01 17:02:33,322 ERROR exec.DDLTask: Failed
org.apache.hadoop.hive.ql.metadata.HiveException: co

[2021-12-01 17:29] hanna-liashchuk commented on #221
I used to have trouble reading decimals in Hive, that's why I added this option

[2021-12-01 17:30] hanna-liashchuk commented on #221
as per https://spark.apache.org/docs/latest/sql-data-sources-parquet.html#configuration
`For example, decimal values will be written in Apache Parquet's fixed-length byte array format, which other systems such as Apache Hive and Apache Impala use`

[2021-12-01 18:07] zsxwing commented on #221
Note: we have tests for decimal values in our hive tests. The test tables are not using `spark.sql.parquet.writeLegacyFormat`.  And we haven't found any issues so far.

[2021-12-01 18:18] allisonport-db opened #222 "DecimalType comparison expressions should be valid between values with decimal types with different scales/precisions"
Currently our comparison expressions fail with `IllegalArgumentException` for decimal type arguments that don’t have equal precision/scale since we check for equal data types. This should be valid (and is in Spark SQL). This impacts IN and all the binary comparison operators.
Ex: ` new EqualTo(Literal.of(BigDecimal.valueOf(2).setScale(1)), Literal.of(BigDecimal.valueOf(2).setScale(2)))` throws an

[2021-12-01 18:23] hanna-liashchuk commented on #221
I have a dataset with schema
[code]
I can create Hive table using `CREATE EXTERNAL TABLE `cheques`.`chequeactions` (`FILID` int, `CHEQUEID` int, `CREATED` timestamp, `ACTIONTYPE` int, `ACTIONID` bigint, `DISCPERCENT` decimal(9,3), `DISCOUNT` decimal(9,2), `createdDate` string, `VARCHARDATA` string, `part_dt` date ) STORED BY 'io.delta.hive.DeltaStorageHandler' LOCATION '/data/raw/cheques/chequeact

[2021-12-01 18:25] hanna-liashchuk commented on #221
Hive version is 3.1.2

[2021-12-01 18:41] allisonport-db opened #223 "Checkpoint reading bug when reading files with legacy parquet schemas"
Parquet4s doesn't support all the [parquet-format backward compatibility rules](https://github.com/apache/parquet-format/blob/master/LogicalTypes.md#lists). The version currently being used by Delta Standalone only recognizes (3-level nested) list schemas with the inner element field named "element". (The newest version supports "element" and "array" but not other legacy names.)

Example legacy pa

[2021-12-01 18:56] zsxwing commented on #221
I see. This looks like a bug. Which Spark version and Delta version are you using to generate the table?

[2021-12-01 19:18] hanna-liashchuk commented on #221
Spark version is 3.2.1, Scala 2.12.10, Delta 1.0.0

[2021-12-02 19:54] hanna-liashchuk commented on #221
More observations regarding `scala.MatchError: RowParquetRecord` error
this issue is reproducible with spark.sql.parquet.writeLegacyFormat and starts to occur aprox. on 10th write.
I.e. you have some partitioned data already and you write one partition at a time and somewhere along the road - metadata gets corrupted that causes this ugly error

[2021-12-04 00:28] allisonport-db commented on #221
The error you're seeing with `writeLegacyParquetFormat` is the same as outlined in #223. The version of `parquet4s` used isn't compatible with legacy parquet _schemas_ . It occurs on the 10th write because that's when the checkpoint file is automatically generated.

[2021-12-04 13:06] hanna-liashchuk commented on #221
May I wonder, are you working on the fix, or have planned it any time soon?

This is kinda blocker in production for us, we use Spark to read data from db and store it in delta format with Hive tables on top of it, and currently - a partitioned table with decimal in the schema cannot be accessed from HIve.
We are trying to find at least some workaround, but so far - no success. As I understood, it

[2021-12-06 19:48] zsxwing opened #228 "OptimisticTransactionImpl.commit should turn absolute paths to relative paths if possible"
When users call `OptimisticTransactionImpl.commit`, they may use absolution paths in `AddFile/RemoveFile`. It would be great to change absolute paths to relative paths if these paths are under the table path.

[2021-12-06 20:02] tdas commented on #74
I am closing because this is not tracked in finer granularity in #175 and #110

[2021-12-06 20:02] #74 closed

[2021-12-06 20:54] allisonport-db commented on #228
Probably just https://docs.oracle.com/javase/7/docs/api/java/net/URI.html#relativize(java.net.URI). If not a prefix it'll return the original path. I can add this later?

[2021-12-06 21:06] scottsand-db commented on #228
@allisonport-db do you have bandwidth to take this on?

[2021-12-06 23:34] scottsand-db opened #229 "OptimisticTransactionImpl: add extra warning when incorrectly updating the table Protocol"
Currently, since DSW 0.3.0 only supports a single protocol version (1, 2), when users try to [change the protocol using metadata.configuration in OptimisticTransaction](https://github.com/delta-io/connectors/blob/master/standalone/src/main/scala/io/delta/standalone/internal/OptimisticTransactionImpl.scala#L181), we ignore those changes.

In addition to ignoring those changes, we should log a warni

[2021-12-07 00:11] zsxwing commented on #229
Shouldn't io.delta.standalone.internal.actions.Protocol#checkMetadataProtocolProperties fail if we see these properties? Do I miss anything?

[2021-12-07 00:35] scottsand-db commented on #229
@zsxwing that's right, we will fail if we see that. What this issue is suggesting is that before that stage, when we first see that `metadata.configuration` contains protocol specs, and when we remove those protocol specs (so that we do not later fail), we should also log an exception.

Else the user has just run an operation in which they tried to update the protocol version of the table, and the

[2021-12-07 16:56] scottsand-db commented on #218
Hi @raphaelauv, thanks for this issue. The Delta Standalone Writer is still under development, and we will be releasing proper documentation and examples when we make the official release

[2021-12-11 04:28] allisonport-db commented on #221
Sorry for the late reply!
So you are encountering two different bugs:
• Reading legacy parquet schemas (as outlined in #223) - which we do not have any immediate plans to fix since it will require upgrading the `parquet4s` version
• Decimal reading bug you've identified in this issue - since we haven't identified the cause of the error you're seeing I don't have an estimate on timing for a fix. I

[2021-12-12 12:14] hanna-liashchuk commented on #221
Unfortunately, I cannot tell what's causing the decimal reading bug, but we managed to work around it by casting all decimals to decimal(32,8) and writing without legacy format.

[2021-12-15 13:53] tdas commented on #111
Hello @chenzl-nhlab thank you for your interest! The check list in this ticket shows the tasks left, but most of them are already in progress by @pkubit-g Would be interested in testing out the flink connector?

[2021-12-15 21:51] #228 closed

[2021-12-15 21:55] allisonport-db commented on #229
Why would we want a different behavior for metadata updated with `updateMetadata` vs `commit`? (failure vs ignore change & log warning)

 And along those lines can we consolidate:
[code]
and
[code]

[2021-12-16 00:18] scottsand-db commented on #229
I'm AFK right now (EST hours). We can discuss this tomorrow

[2021-12-16 02:23] chenzl-nhlab commented on #111
Thank you for your reply! @tdas  I would like to do this.  What functions need to be tested?

[2021-12-16 14:47] tdas opened #238 "Flink SQL/TableAPI/Catalog Support"
This is a general issue to discuss requirements, goals, and the project plan of the work to be done to add SQL/TableAPI support to the flink-delta connector, as well as to implement a Delta catalog for flink.

Here's the public design doc for catalog support: https://docs.google.com/document/d/1L31_CDgVZjy5N4qe7VdDftKn0YAvwSg6Zh2PxQqpIuM/edit#

And here's a rough project plan we should follow
- [F

[2021-12-16 16:20] scottsand-db commented on #229
Good catch. We should have the same behaviour. Can you expand your solution a bit more? for example, right now if a Metadata is added to actions, we will fail on `assert(metadataChanges.length <= 1`, since the Metadata wasn't removed from actions.

Here's my idea:

Let's make some invariants:
- any Metadata action to be committed will go through `updateMetadata`, either directly or extracted from

[2021-12-16 20:01] zsxwing commented on #229
It looks like we can just disallow `metadata` to be passed into `commit`. This would be much easier to understand.

[code]
By the way, if `Protocol.MIN_READER_VERSION_PROP` and `Protocol.MIN_WRITER_VERSION_PROP` is not (1, 2), we should fail. These properties need to be respected.

[2021-12-16 22:03] scottsand-db commented on #229
Just to be clear: << It looks like we can just disallow metadata to be passed into commit >> . So we will throw an error?

That sounds fine with me. And we update the javadoc + scaladocs to indicate this.

[2021-12-17 00:05] zsxwing commented on #229
Yep. If the user complains, we can change to accept metadata in future. But cannot change from `no error` to `error`.

[2021-12-17 02:05] allisonport-db commented on #229
This change would mean to create a new table you'd have to do
[code]
This seems unintuitive to me (and would break basically all our test suites).

[2021-12-17 02:26] scottsand-db commented on #229
Breaking test suites is fine I think. Having the best API is most important.

Is there some documentation we could add that would make it more intuitive?

[2021-12-17 03:14] allisonport-db commented on #229
I just mean it as an example of why it's unintuitive.

What if you can update the metadata in `commit` or `updateMetadata`, and the only invariant to the user is still that they can only commit (through either method or both) one *unique* metadata instance.

To do this we just:
- Pass any metadata actions found in commit into prepareMetadata
- Add `newMetadataJ : Option[MetadataJ]` and only fail f

[2021-12-20 08:17] zsxwing commented on #229
If there are a lot of tests to fix, we can just use @scottsand-db 's proposal:

I'm okay with that.

[2021-12-21 22:31] #229 closed

[2022-01-06 05:39] zsxwing opened #248 "Upgrade SBT to 1.5"
SBT 0.13 is pretty old. It would be great to upgrade SBT to 1.5.

[2022-01-10 22:39] cheleb commented on #158
It does compile on 2.13.7 here  https://github.com/delta-io/connectors/pull/249
If you are still interested.

[2022-01-13 17:41] scottsand-db opened #257 "Improve deterministic guarantees implementations, or at least update API docs"
- `DeltaLog.getChanges` - are the actions inside a given `VersionLog` in determinist order? If not, can we make them so?
- `Snapshot.getAllFiles` - are the `AddFiles` in deterministic order? If not, can we make them so?
- `DeltaScan.getFiles` - are the `AddFiles` in deterministic order? If not, can we make them so?

[2022-01-13 18:56] zsxwing commented on #257
- DeltaLog.getChanges: Yes.
- Snapshot.getAllFiles: No.
- DeltaScan.getFiles: No.

[2022-01-13 19:01] scottsand-db commented on #257
@zsxwing it if could benefit connectors ... is it worth adding APIs, or adding optional parameters, that if set ensure that we do have some sort of order guarantee?

e.g. reading deterministic actions through an iterator could be useful for failure recovery for the Flink Source connector.

[2022-01-13 22:52] zsxwing commented on #257
For example, a snapshot version 10 can be loaded from:

1. 10.checkpoint
2. 0.json, 1.json, ..., 10.json.

For the checkpoint check, we won't be able to know the original order of files when they are in 0.json, 1.json, ..., 10.json.

[2022-01-14 05:22] zsxwing commented on #248
Fixed by #253

[2022-01-14 05:22] #248 closed

[2022-01-14 17:58] zsxwing opened #258 "Investigate `data reader can read partition values` test failure in CI"
After upgrading SBT to 1.6.1, `data reader can read partition values` starts to fail. But I cannot reproduce it locally.

[code]

We disabled the test to merge SBT upgrade PR. This ticket is for investigate the issue and re-enable the test.

[2022-01-18 17:17] scottsand-db commented on #257
Makes sense. Thanks

[2022-01-19 19:47] #218 closed

[2022-01-19 19:51] scottsand-db commented on #135
@axiangcoding with the release of [Delta Standalone 0.3.0](https://github.com/delta-io/connectors/releases/tag/v0.3.0
) we now support "Partition filtering for metadata reads".

Check out the [Java API docs](https://delta-io.github.io/connectors/latest/delta-standalone/api/java/index.html) for `Snapshot.scan(predicate)`.

[2022-01-19 19:51] scottsand-db commented on #135
If that meets your requirement, please close this ticket.

[2022-01-21 02:11] axiangcoding commented on #135
Good job! This should do what i need, thanks a lot

[2022-01-21 02:11] #135 closed

[2022-01-25 20:02] allisonport-db commented on #258
It works if you run `standalone/compile` then `copyResources` then `standalone/testOnly *DeltaDataReaderSuite`, still not sure what the problem is however

[2022-01-25 20:28] allisonport-db commented on #258
This is also new?
[code]

[2022-01-26 02:39] zsxwing commented on #258
Yep. These are new. But I don't know whether it could cause the issue of not. One thing I noticed is when the depth of a file is large, SBT will not copy it.

I submitted #266 to workaround the issue.

[2022-01-26 02:45] zsxwing commented on #91
Closing this due to inactivity. Please reopen if you have any update.

[2022-01-26 02:45] #91 closed

[2022-01-26 20:07] zsxwing commented on #258
Fixed by #266

[2022-01-26 20:07] #258 closed

[2022-01-27 04:28] kongluo opened #268 "hadoop3 + hive3 + presto query delta lake error"
I use hadoop3 + hive3 + presto to query the delta lake in real time. The data of delta lake can be queried normally in hive. When I use presto to query, the error Caused by: java.lang.ClassNotFoundException: org.apache.hadoop.fs is reported. .StreamCapabilities, I manually copied the jar package of hadoop-common to presto, but it cannot be used directly with an error. Does 0.3 support querying dat

[2022-01-27 04:31] kongluo commented on #268
The queried data is stored in azure storage gen2

[2022-01-28 19:21] vkorukanti commented on #268
@kongluo How are you querying Delta tables from Presto? Are you using the [symlink based](https://docs.delta.io/latest/presto-integration.html) method or the new native [Delta lake connector](https://github.com/prestodb/presto/pull/16843) added in Presto?

Also please provide the full error callstack. Thanks!

[2022-01-31 05:03] zsxwing commented on #158
Fixed by #259 259

[2022-01-31 05:03] #158 closed

[2022-02-03 01:52] spmp commented on #202
@zsxwing, as Hive 4.1 is now out, what can we do to get this feature implemented. I am happy to try my possibly useless hand at it 8) This is a killer feature for me 🤗 Happy to do real world testing on scared SAS users 8)

[2022-02-03 14:54] cjkoester opened #272 "Unable to follow usage instructions for Power BI connector"
I'm struggling to follow the [usage instructions for the Power BI connector](https://github.com/delta-io/connectors/tree/master/powerbi#usage).

Pasting the code for [fn_ReadDeltaTable](https://github.com/delta-io/connectors/blob/master/powerbi/fn_ReadDeltaTable.pq) into the advanced query editor does not establish it as a function. If I right click on it and select Create Function I get an error

[2022-02-03 16:56] cjkoester commented on #272
I think my initial issue was user error. I got past this step and am now running into a different issue - when I invoke the function I get an empty table. It's like the Parquet.Document piece is not happening. If I open the parquet file before invoking the function I can see the data, so connectivity is working.

In short, I'm struggling to get this working with the current function code and docum

[2022-02-03 17:14] cjkoester commented on #272
I think this was user error. The connector appears to be working. Closing.

[2022-02-03 17:14] #272 closed

[2022-02-03 18:03] zsxwing commented on #202
@spmp I haven't looked at what is done by https://issues.apache.org/jira/browse/HIVE-25344. I'd suggest you to look at what interface added by Hive and see if Delta can plugin its code to this interface.

[2022-02-04 02:34] spmp opened #273 "Support Hive 4.0"
Considering that Hive 3 is very old and that Hive 4.0 (or simply the master branch of Hive) is close to being released, there should be a branch which builds against upstream Hive master.

I am having a go at it, but I suck and would love some assistance 8)

[2022-02-04 23:10] zsxwing commented on #273
@spmp we are not using branches to support multiple Hive versions. Instead, we use a single jar to support both Hive 2 and Hive 3 right now.

I guess this won't work with Hive 4, but we can create a new SBT project for Hive 4 instead.

[2022-02-08 20:53] spmp commented on #273
Sounds great @zsxwing .
I am happy to help bodging and documenting. I am pretty sure that simply deleting `HiveInputFormat.scala` as the upstream API has changed so much that the 'option' that is effect has no meaning anymore is... too basic 8)

[2022-02-14 15:09] remoba opened #279 "Mapping a subset of a delta table's columns as an external Hive table"
I've tried using the `DeltaStorageHandler` to define an external table in my Hive metastore over an Azure Data Lake Storage Gen2.

From a hive shell:
[code]

I am using the maven artifact `delta-hive_2.12` version `0.3.0`

The delta table actually has many other fields, but I only want to expose this 1 field through the metastore. For parquet, this works as expected. But for Delta I am getting the

[2022-02-14 22:18] tdas commented on #279
Delta Lake is designed to keep the schema information along with the data in the file system. So the source of truth about the table schema is in `tableDir/_delta_log/` not in the Hive metastore service but in the file system. However, Hive only uses the schema in the metastore to plan the queries, and if the schema in the metastore does not match the schema in the file system, its going to cause

[2022-02-15 07:18] remoba commented on #279
@tdas Does this not mean that a Hive metastore pretty much can't work with schema evolution? How would the flow work?

Let's say a producer X writes to a table Y with 10 columns, and that table is being read by a consumer Z through a Spark SQL query over a Hive metastore table (e.g. SELECT Col1, Col2, ..., Col10 FROM Y).

If X now writes a new column, (Col11) then the underlying file schema would

[2022-02-15 08:12] tdas commented on #279
I would not say it is impossible to make Hive metastore work with schema evolution, but it is indeed hard. There are fundamentally two approaches to evolve schema and work in metastore.

1. Do not keep the schema in the metastore at all - Spark uses this approach. Delta implements a Spark "catalog" that allows Delta to customize the interaction between Spark and Hive metastore in the table resolut

[2022-02-15 08:33] remoba commented on #279
@tdas thanks for the explanation.

I am currently using Spark to produce / consume the table, but I am provisioning the metastore schema through a hive shell.
Is there an equivalent Hive command that I can run that would create the table in the same way Spark would create the table through the Delta catalog interaction?

I think it's reasonable to create an external table in the metastore with no

[2022-02-22 06:17] vinijaiswal opened #282 "Delta Source for Big Query"
Build a Delta Source for Big Query which allows Big Query to natively read Delta Lake tables. This could be potentially leveraging the Delta Standalone Reader.

[2022-02-23 01:36] kongluo commented on #268
![deltaError](https://user-images.githubusercontent.com/28140815/155247984-deeebc5c-fb36-444a-8a43-7314109f991f.png)
i using the [symlink based](https://docs.delta.io/latest/presto-integration.html) method,
I didn't add any jar packages in presto, but an error will be reported。
Query 20220223_012821_00003_besdx failed: java.lang.ClassNotFoundException: Class org.apache.hadoop.fs.azurebfs.SecureAzu

[2022-02-23 01:38] kongluo commented on #268
![image](https://user-images.githubusercontent.com/28140815/155248422-b71569af-8a68-4e33-8582-da71660220e3.png)
But when I use hive to query, I can't see the specific fields, but there is no error

[2022-02-23 01:41] kongluo commented on #268
Will there be such problems when viewing the data of azure storage Gen2 through delta Lake + Presto

[2022-02-23 02:03] kongluo commented on #268
the presto error is :
![image](https://user-images.githubusercontent.com/28140815/155250422-44a82760-864f-46d4-8352-affa999e871d.png)

[2022-02-23 02:37] zsxwing commented on #268
I think your Presto is missing hadoop-azure-datalake jar. I don't know how to config it. @vkorukanti are you familiar with that?

[2022-02-23 02:38] zsxwing commented on #273
Feel free to try that. But we still need to build something in order to support Hive time travel queries. Right?

[2022-02-23 02:40] zsxwing commented on #279
If you are using Spark SQL, it should work. Delta implements Spark SQL API to return the table schema from the transaction log. It doesn't read the table schema from the metastore.

[2022-02-23 02:55] kongluo commented on #268
I tried to add hadoop-azure-datalake jar to Presto's hive plugin, but this problem still exists, @vkorukanti Is there a good solution to this problem？thanks.

[2022-02-23 03:31] spmp commented on #273
@zsxwing,

Yes.
 I think the time travel issue ( #202 ) would be best based off the result of this one.

[2022-02-23 05:10] vkorukanti commented on #268
@kongluo Presto still depends on the Hadoop 2.7.4 which doesn't have the Azure ABFS specific implementation in it. It looks like the ABFS implementation is available from [Hadoop 2.10.0](https://repo1.maven.org/maven2/org/apache/hadoop/hadoop-azure-datalake/).

Few clarifications:
- The error message (ClassNotFoundException) is not expected out of the box. Expected error message is "No FileSystem

[2022-02-23 06:15] kongluo commented on #268
The hadoop version uses 3.2.0. According to the official document of hadoop supporting azure gen2, the related configuration items are used, and the files for hadoop query are set through export HADOOP_OPTIONAL_TOOLS=hadoop-azure, and fs.abfss.impl=SecureAzureBlobFileSystem is added. The system is azure instead of HDFS, and the version used by hive is 3.1.2. I copied hadoop-azure-datalake from had

[2022-02-23 06:47] vkorukanti commented on #268
This may not work as there is a major version difference between Azure lib (3.1.2) and Presto's Hadoop dependency version (2.7.4). Can you try copying the Azure lib from 2.10.1?

[2022-02-23 08:17] kongluo commented on #268
I use the azure jar package in hadoop2.10.1 version, still the same error

[2022-02-23 18:51] zsxwing commented on #268
If you are using Spark, we actually require [Hadoop 3.2 for ADLS Gen2](https://docs.delta.io/latest/delta-storage.html#azure-data-lake-storage-gen2). IIRC, the ADLS Gen2 Hadoop connector is not available in Hadoop 3.1 and below.

https://prestodb.io/community.html has more Presto experts to help you how to config ADLS Gen2 with Presto. Maybe you can try to ask the question there?

[2022-02-23 19:08] vkorukanti commented on #268
It doesn't look like PrestoDB has support for ADLS yet. [Issue](https://github.com/prestodb/presto/issues/11648) and a [task](https://github.com/prestodb/presto/issues/16746).

Trino has support for ADLS as they depend on Hadoop 3.2.x.

[2022-02-24 01:05] kongluo commented on #268
ok,i will try , thanks.

[2022-02-24 01:07] kongluo commented on #268
Can trino support querying delta lake data on ADLS gen2 through [symlink based](https://docs.delta.io/latest/presto-integration.html)?

[2022-02-24 01:10] vkorukanti commented on #268
I haven't tested it, but I don't see any reason why it does work out of the box. Trino still has support for symlink and [ADLS support](https://trino.io/docs/current/connector/hive-azure.html).

[2022-02-24 02:22] kongluo commented on #268
I tried to query the delta lake data on ADFS gen2 through trino, it works, thank you very much

[2022-02-24 18:23] zsxwing commented on #268
Great to hear that it's working in Trino. Since this is because PrestoDB doesn't support Hadoop 3 yet and there is nothing Delta Lake can fix, I'm going to close this. You can add your voice to https://github.com/prestodb/presto/issues/16746 and hope they will pick up this soon 😄

[2022-02-24 18:23] #268 closed

[2022-02-27 10:32] cometta opened #285 "Create a Delta table without specifying the table schema in Hive"
May i know is it possible when use hive 'create external table' statement without inputting each column types and let the connector auto infer the table schema or auto read the parquet's metadata?

[2022-03-07 02:09] vinijaiswal opened #288 "Delta integration with Dask/ Ray"
Build a connector to integrate with Dask/Ray potentially leveraging Delta Standalone #85. This integration is requested regardless of the Python library.

Dask is an open source project, a Python parallel computing library developed to scale python packages and scientific computing workloads beyond a single machine. It provides advanced parallelism for analytics and works with the existing Python

[2022-03-08 06:33] zsxwing commented on #100
cc @YannByron as you would like to build this. We can start from INSERT INTO support.

[2022-03-08 19:50] scottsand-db commented on #285
@zsxwing I see that you have assigned this ticket to yourself. I am just following up on its status.

[2022-03-08 19:51] scottsand-db commented on #285
To give a response myself:

See the [delta.io:connectors > Hive > create a table](https://github.com/delta-io/connectors#create-a-hive-table) wiki which states

[2022-03-17 12:58] ryandawsonuk opened #292 "access delta lake from powerbi with private bucket"
Would like to use the [powerbi connector](https://github.com/delta-io/connectors/blob/master/powerbi/README.md) but the examples are all for a public bucket. Is there an example where an access key or other credentials are needed? Or is that in other documentation that you could point to?

[2022-03-18 21:48] zhudaxi opened #294 "Latest delta-standalone verion 0.3.0 has security risk CWE611"
In latest delta-standalone version 0.3.0 jar,  shadedelta/com/fasterxml/jackson/databind/ext/DOMSerializer is risky for [CWE611](https://cwe.mitre.org/data/definitions/611.html).

This maybe due to version jackson-databind-2.10.0 has [CVE-2020-25649](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-25649). If upgrade to latest version this issue might be fixed.

[2022-03-20 02:10] zsxwing commented on #294
@zhudaxi Thanks for reporting this. Since Delta Standalone doesn't use Jackson to process XML, it should not be affected. Please let us know if we misunderstand the CVE.

[2022-03-21 19:07] zhudaxi commented on #294
@zsxwing Thanks for following up. I think this issue is same as what is reported in jackson-databind project [Issue](https://github.com/FasterXML/jackson-databind/issues/3387). Data Standalone project is not using Jackson to process XML, but the our scanning tool report the risk. Seems not fixed yet in jackson-databind side as of now.

[2022-03-23 01:09] MironAtHome opened #298 "I was surprised to find parquet4s integration first, but than even more so how dated library is"
Hey, if we are using Marcin Jakubowski's parquet4s for standalone parquet read / write IO, than why is it frozen at ancient version?
I think it's time to advance platform forward, since 2.3.0 is released more than a month ago and currently 2.4.0 is about to be completed.
@mjakubowski84

[2022-03-23 03:22] dennyglee commented on #292
Thanks for the ping @ryandawsonuk - let me include @gbrueckl on this.  Thanks!

[2022-03-23 09:07] gbrueckl commented on #292
Hi @ryandawsonuk  so basically the PowerBI connector is independent of authentication. It supports all data sources and authentication methods that are supported by Power BI already - no more, no less.
Using an Access Key to connect to ADLS or Blob Storage works out of the box, Shared Access Signatures (SAS) dont (as far as I know)
Regarding the examples in the docs:
The authentication is independ

[2022-04-03 03:50] MironAtHome commented on #285
I apologies, I do not know if this feature currently supported by delta itself, however, the underlying parquet library parquet4s from version 2.+ does support reading un-specified projection of parquet file.
I am currently working on unit test / dependency version stabilization for my pull request. Once this is settled I could look into adding this feature.
It would require Scala 2.12+.

[2022-04-03 18:43] scottsand-db commented on #285
Hi @MironAtHome, may I ask what your use case is here? i.e., what problem are you trying to solve? and what API or functionality is delta-standalone / delta-hive connector currently missing?

[2022-04-04 05:29] zsxwing commented on #294
Thanks! I'm going to close this as it doesn't affect Delta Standalone.

[2022-04-04 05:29] #294 closed

[2022-04-04 17:10] zsxwing commented on #285
@MironAtHome , this is a Hive connector issue due. It's not related to Delta Standalone.

I looked at Hive code again and found we may be able to support this by introducing our own Hive SerDe. This is a prototype: https://github.com/delta-io/connectors/compare/master...zsxwing:hive-no-schema?expand=1 But I probably don't have time to work on this right now. If anyone has free time, feel free to p

[2022-04-06 13:50] pkubit-g opened #318 "Add Flink metrics for Apache Flink Delta Sink"
Since release of the Delta Connector for Apache Flink (supporting Sink for DataStream API)  is on its way, the next step is to extend it with Flink metrics. This issue expands on #111.

- [ ]  Add Flink metrics to the Flink Delta Sink

[2022-04-06 19:25] zhudaxi commented on #294
@zsxwing Can we open this issue so that once this jackson-databind side issue is fixed, delta-standalone project can do upgrade to adopt the fix?
Also, jackson-databind has another security issue [CVE-2020-36518](https://nvd.nist.gov/vuln/detail/CVE-2020-36518), do you want to upgrade the version for delta-standalone?

[2022-04-08 10:58] premsagarreddy commented on #71
Hi @zsxwing

we have Hive 1.2.1000.2.6.5.1175-1 on hortonworks Hadoop cluster, But I am not able to create delta tbale using hive. My requirement is, I should be able to write to delta tbale which I created using hive and vice-versa. Please suggest; Thanks

[2022-04-08 20:03] zsxwing commented on #71
@premsagarreddy I don't use hortonworks so I don't know what open source Hive version `1.2.1000.2.6.5.1175-1` maps to. Could you provide it if you know about it? In addition, could you provide the error when you create a Delta table using hive? It would be great if you can create a new issue so that we can continue our discussion there?

[2022-04-11 16:43] pkubit-g opened #321 "java.lang.IllegalAccessError for Flink Delta Sink when trying to deploy on a Flink cluster"
A Flink job with a Flink Delta Sink gives above error when trying to deploy it to a Flink cluster.

`Caused by: java.lang.IllegalAccessError: tried to access method org.apache.flink.streaming.api.functions.sink.filesystem.OutputStreamBasedPartFileWriter.<init>(Ljava/lang/Object;Lorg/apache/flink/core/fs/RecoverableFsDataOutputStream;J)V from class org.apache.flink.streaming.api.functions.sink.file

[2022-04-11 21:04] #321 closed

[2022-04-17 22:32] spmp commented on #273
There is now a Hive 4.0.0-alpha branch! https://github.com/apache/hive/tree/branch-4.0.0-alpha-1

[2022-04-20 03:13] YannByron commented on #285
@zsxwing if want to support creating table without schema provided, i think there is no necessary to introduce our own serde. maybe just a minor optimization for `DeltaStorageHandler.preCreateTable` is ok.

[2022-04-20 15:13] kristoffSC opened #324 "None of the Java example project can be run due to compilation error"
All Java example projects under https://github.com/delta-io/connectors/tree/master/examples
are facing a compilation error preventing them to build and run.

The issue is that class package declaration does not reflects an actual folder structure.
![image](https://user-images.githubusercontent.com/7932805/164263215-6d889a9e-b7fa-4348-ad13-a419663d84a9.png)

To match the package declaration which i

[2022-04-22 16:54] scottsand-db opened #326 "[FEATURE REQUEST] Basic data (i.e. parquet file) writing support"
Currently, Delta Standalone only supports metadata (i.e. commits to the `_delta_log`) writing, metadata reading, and very basic data (i.e. parquet files) reading.

There has been growing interest and requests for Delta Standalone to provide data writing as well.

Let's use this issue as a place where users can give more details on the use cases, APIs, and interest in this feature.

[2022-04-23 02:24] mdrakiburrahman commented on #326
Here's a rudimentary prototype I'm working on to desert Kafka to Delta - current iteration includes a barebones Java Parquet Writer that also commits to Delta: https://github.com/mdrakiburrahman/kafka-delta-ingest-adls/blob/ced467344e97277ccc32c2b80163dc96e2e54cac/src/main/java/com/mycompany/app/App.java#L126

I think as it stands this should meet a `hello-world` type scenario for Delta Standalone

[2022-04-23 22:51] pkubit-g commented on #324
FYI
fix for the Flink examples is provided in this PR #327

[2022-04-25 20:19] #318 closed

[2022-04-25 21:08] zsxwing commented on #285
As per our discussion in #323 , we will continue to investigate the Hive SerDe solution.

[2022-04-28 17:27] jwbreedlove opened #333 "add ability to disable schema validation when creating external Hive tables using the delta-hive connector"
We are experiencing very slow performance when creating external hive tables using the DeltaStorageHandler through the Hive/beeline shells. The slow performance doesn't always seem consistent but it mainly occurs with tables that are significant in size, ie number or rows or columns. I am speculating that this slow performance is due to the schema validation that is taking places when using the De

[2022-05-03 17:28] zsxwing commented on #273
Cool. Have you tried that?

[2022-05-03 23:21] zsxwing commented on #324
@scottsand-db Has this been fixed?

[2022-05-04 01:11] scottsand-db commented on #324
No it hasn't. It's currently assigned to @allisonport-db. I can take a look tomorrow as part of my on-call.

[2022-05-04 17:33] scottsand-db commented on #273
Hi @spmp - just following up on this issue. Have you tried what zsxwing has suggested?

[2022-05-04 17:38] scottsand-db commented on #298
@MironAtHome - thanks for this issue. are you interested in doing that update + code changes?

[2022-05-04 17:48] scottsand-db commented on #324
Hi @kristoffSC - what is your, for example, `hello-world` folder marked as in IntelliJ?

[2022-05-04 17:58] zsxwing commented on #333
I think a better solution is just don't require users to provide the schema (#285)

[2022-05-05 21:14] #324 closed

[2022-05-06 02:09] spmp commented on #273
@scottsand-db and @zsxwing, I tried earlier using my own local build of Hive 4, but had a range of issues that I thought could have been to do with `.m2` resolution of my local Hive build. Now using the published `4.0.0-alpha-1` Hive artifacts I am getting the same issues and am fairly stumped. Sorry, I am quite rusty so no surprise I am struggling 8)
I did a lot of work some time ago, but lost it

[2022-05-06 04:37] zsxwing commented on #273
How did you upgrade hive? Maybe there is some issue in the dependency list.

[2022-05-08 07:24] spmp commented on #273
I updated the project to use the released Hive `4.0.0-alpha-1` in `build.sbt` artifacts as:
[code]
As I said, the artifacts are downloaded, and the JAR's contain the classes...

Maybe. I am stumped. Any ideas Scala gurus? I figure it is more of a problem associated with this project than one related to Hive.

[2022-05-09 16:33] scottsand-db commented on #273
https://github.com/delta-io/connectors/compare/master...spmp:hive-4.0

[2022-05-10 16:39] zsxwing commented on #273
We currently are using https://repo1.maven.org/maven2/org/apache/hive/hive-exec/3.1.2/hive-exec-3.1.2-core.jar
But Hive 4 removed this jar. Not sure why SBT doesn't fail when `"org.apache.hive" % "hive-exec" % hiveVersion % "provided" classifier "core"` doesn't exist...

You can change the build file to depend on `hive-exec` directly. I haven't checked other issues yet. But this should make the co

[2022-05-12 02:04] zhudaxi opened #339 "Standalone to access Azure ADLS2 file system with wrong account name will cause infinite loop"
We are using delta-standalone_2.12 version 0.4.0 to access Azure ADLS2 delta folder.
Azure ADLS2 has storage account (let's say with a name `my_storage_account`), and generate an access key (let's say the key is `my_key_string`), and a container is created under this storage account (let's say the container name is `my_container`).
The following code will cause infinite loop when create DeltaLog a

[2022-05-12 05:22] pabloFloresHdz opened #340 "Getting java.io.IOException: Cannot create file `file://<tablePath>` when using Flink/Delta Connector with S3"
Hi! I'm getting  a `java.io.IOException: Cannot create file file:/<tablePath>` when the delta connector for flink tries to write the DeltaLog for a DataLake hosted in an S3 bucket. I'm using the delta-flink v0.4.0 connector.

Two things came to my attention:

1. The connector is trying to write the delta log in a local directory instead of the S3 bucket
2. The delta table path is different than th

[2022-05-12 18:09] allisonport-db commented on #340
Your fix makes sense to me, it seems [uri.getPath()](https://github.com/apache/flink/blob/master/flink-core/src/main/java/org/apache/flink/core/fs/Path.java#L304) only returns the path component of the uri.

[2022-05-12 18:26] allisonport-db commented on #339
Hi @zhudaxi thanks for reporting this. We will take a look.

[2022-05-12 19:41] allisonport-db commented on #339
@zhudaxi Can you provide the stack trace when you kill the process?

[2022-05-12 20:19] tdas commented on #339
Alternatively, since its a java process. You can use `jstack` command to get the thread dump of the process. Taking repeated thread dump can help identify where it is stuck in this seeming retry loop.

[2022-05-12 20:25] zhudaxi commented on #339
Here it is:
[code]

[2022-05-12 20:28] zhudaxi commented on #339
The `retryCount` keeps increasing in `executeHttpOperation` in AbfsRestOperation.java

[2022-05-12 20:29] tdas commented on #340
@pabloFloresHdz would be interested in contributing this fix?

[2022-05-12 20:43] pabloFloresHdz commented on #340
Thanks for your input @allisonport-db! @tdas I was waiting for more input from the team in case a more robust solution was necessary as I'm quite new to the ecosystem, but I can definitely open a PR to solve this

[2022-05-13 18:05] allisonport-db commented on #340
Hi @pabloFloresHdz, when you have the time could you try running your code (without the fix in #341) but set `fs.defaultFS` set to `s3a://<bucket>`?

[2022-05-13 18:34] pabloFloresHdz commented on #340
Using your suggestion I can see the files being written to the _delta_log s3 location without issues

[2022-05-13 19:30] allisonport-db commented on #340
Cool thanks @pabloFloresHdz.

For anyone else encountering this issue, we will be doing a patch release with the fix soon. But the current workaround is setting `fs.defaultFS` to your intended file system.

[2022-05-13 23:25] allisonport-db commented on #339
It seems this the same problem summarized [here](https://docs.microsoft.com/en-us/azure/databricks/kb/data-sources/abfs-client-hang). Since this is an issue with abfs we can't help much.

To confirm, you are able to create the `DeltaLog` with the correct account id?

[2022-05-16 13:15] dishkakrauch opened #342 "Creating hive delta tables with spark session"
Hello there.

Here is spark session code:

`from pyspark.sql import SparkSession
from pyspark.context import SparkContext
import pyspark

spark = SparkSession.builder.appName('hive_test').getOrCreate()
spark.sparkContext.setLogLevel('ERROR')
spark.conf.set('spark.sql.shuffle.partitions', '2000')

from pyspark.sql import SQLContext
from pyspark.sql import HiveContext

sqlCtx = SQLContext(spark.spar

[2022-05-17 11:13] dishkakrauch commented on #342
Got it, thanks.

[2022-05-17 11:13] #342 closed

[2022-05-17 16:14] zhudaxi commented on #339
With correct account id we can create DeltaLog.
Thanks.

[2022-05-17 18:02] allisonport-db commented on #339
Awesome, closing this issue since it's outside our code base.

[2022-05-17 18:02] #339 closed

[2022-05-17 20:49] zhudaxi opened #343 "CWE-201 Issue for DeltaStandalone code"
Hi:
We found a few [CWE-201 ](http://cwe.mitre.org/data/definitions/201.html) issues in DeltaStandalone code with our scan tool as below, will you please help review and decide if the issues are false alarm or need to fix. Thanks.

Besides, the com.fasterxml.jackson.module:jackson-module-scala imported now is 2.12.3, which has security vulnerability [CVE-2020-36518](https://cve.mitre.org/cgi-bin/c

[2022-05-17 21:03] zhudaxi commented on #343
Some details about the issue CWE-201:
Attack Vector: java.io.DataOutput.write

Number of Modules Affected: 1

Description:  The application calls the java.io.DataOutput.write() function, which will result in data being transferred out of the application (via the network or another medium). This data contains sensitive information. The first argument to write() contains potentially sensitive data f

[2022-05-18 13:14] SSKazantsev commented on #221
We have the same issue too.

It's look like that Delta lake Hive connector is useless right now if you are using various decimals data types, which are very commos in bigdata systems.

Hive still doesn't have full support of Parquet  specification and could't read decimals as int32/int64. They are working on it in Hive-4 ([HIVE-21987](https://issues.apache.org/jira/browse/HIVE-21987)), which is cu

[2022-05-18 21:51] zhudaxi commented on #339
@allisonport-db We found this config item `fs.azure.io.retry.max.retries ` in hadoop config can control the retry attempt in hadoop azure. Default is 30, but if we set it to a small number, this "hanging" problem can be solved. Just FYI.

[2022-05-18 21:53] allisonport-db commented on #339
Awesome, thanks for updating this.

[2022-05-18 21:56] zhudaxi commented on #343
In my understanding, when using DeltaStandalone, we are actually sending out the necessary credential to read data from different data source - which is intended. So my feeling is that this CWE-201 should not apply. It will be nice if you can confirm.

[2022-05-22 08:03] Xoerk opened #344 "[FEATURE REQUEST] Generate multiple Delta tables from single Flink sink"
I'm trying to find a way to generate multiple Delta/Databricks tables when connecting to the Flink stream, from looking at the documentation of Flink connection, the Flink connecter takes the path location in the constructer which defines a single table in Delta/Databricks.

Will it be possible to dynamically define the tables based on the data stream?

[2022-05-24 10:45] gopik opened #345 "Support upserts in FlinkDeltaSink"
Existing implementation supports appends only. This feature request is to support upserts in a delta table that is sorted by it's primary key columns.

Here's a rough proposal of how we could implement this - https://docs.google.com/document/d/1b35eZnIZheZK05EhNkqFMpzU3mcPze5iE9XKJulbftg/edit#heading=h.35nkun2

cc: @dennyglee

[2022-05-24 17:26] zsxwing commented on #221
Yep, we rely on Hive to read parquet files in the Hive connector. So we will need to wait for Hive 4 in order to solve this problem for Hive.

[2022-05-25 10:12] young-druid commented on #85
Hi, I hope it is a right place to ask questions about this feature. In the proposal to this feature it is written:
[code]
and
[code]
Was there an expectation that Standalone writer is always run in a single JVM? Was it designed to be run in K8S? If yes does it mean I should always run a single pod with DSW?

[2022-05-25 15:34] scottsand-db commented on #85
Hi @young-druid, yes, Delta Standalone runs in a single JVM. Whereas Delta Lake uses Spark to read + write to the transaction log, Delta Standalone is distinctly Spark-less and so we use single-JVM parquet and json libraries to read + write to the transaction log.

It should be able to be run anywhere that supports JVM applications, so like you said, it must be run within a single node/pod.

[2022-05-25 16:53] gumartinm commented on #85
Sorry to bother you @scottsand-db

This PR https://github.com/delta-io/delta/pull/1044, does not work with Delta Standalone?

[2022-05-25 17:18] scottsand-db commented on #85
Hi @gumartinm. In Delta Lake 1.1, we released a new `delta-storage` artifact, as well as the `delta-storage-s3-dynamodb` artifact. Both of these artifacts are spark-less.

We are in the process of updating `delta-standalone` to depend on `delta-storage`. This means that we will be able to consolidate the LogStore implementations. And, to answer your question, this means that delta-standalone will

[2022-05-25 17:19] scottsand-db commented on #85
To be clear,

This is true for now, but once we update Delta Standalone, it will be able to use the S3DynamoDBLogStore.

[2022-05-27 15:16] #340 closed

[2022-05-27 15:50] scottsand-db commented on #344
Hi @Xoerk, thanks for your question. Can you tell us a bit more about your use cases here? And give an example of what you'd like to see by `dynamically defin[ing] the tables based on the data stream`

Also, do you want to write the same, identical output to multiple output tables?

[2022-05-27 15:55] scottsand-db commented on #343
Hi @zhudaxi - thanks for this issue. I'll take a look.

[2022-05-27 16:09] scottsand-db commented on #343
Hi @zhudaxi - would you be interested in making a PR adding that scan tool to our build processes? From what it describes, CWE-201 doesn't seem to apply.

[2022-05-27 21:59] scottsand-db opened #350 "[Good first issue] Add copyright check test tooling"
It would be great to have a test that checks that all existing and new files have the right copyright. I see this best being done using checkstyle or sbt.

We support two copyright headers in Delta Connectors:

## Copyright Header 1
The date year may not be exactly 2020. See [DeltaLog.java](https://github.com/delta-io/connectors/blob/master/standalone/src/main/java/io/delta/standalone/DeltaLog.jav

[2022-05-29 09:40] Xoerk opened #351 "Missing dependency when trying to store Timestamp"
Getting the following exception when tried to store timestamp in parquet:

`12:08:21.364 [flink-akka.actor.default-dispatcher-67] INFO  o.a.f.r.e.ExecutionGraph - KeyedProcess -> DeltaPacketDataAssignTimestampAndWatermarks -> Map -> Sink PacketToDataBricks (2/2) (58df0a1b3b8b4b0e2ccce628b1a55b08) switched from RUNNING to FAILED on d3da4105-ee3a-4c0c-b5c3-707202649d56 @ localhost (dataPort=-1).
jav

[2022-05-31 21:56] scottsand-db commented on #351
Hi @Xoerk - thanks for making this issue. Can you share with me your original `pom.xml` you were using? And then the latest `pom.xml` you have that fixed your issue?

Was it the same one as is suggested in the flink README? https://github.com/delta-io/connectors/tree/master/flink

[2022-05-31 21:56] scottsand-db commented on #351
cc @pkubit-g

[2022-06-02 06:01] Xoerk commented on #351
Hi,
I deep-dived into the problem and noticed that there is no '[flink-table-runtime-blink](https://mvnrepository.com/artifact/org.apache.flink/flink-table-runtime-blink)' for Flink 1.14.x.
This is why I had to add [flink-table-runtime](https://mvnrepository.com/artifact/org.apache.flink/flink-table-runtime) as a dependency.

So I guess we can close this issue.

[2022-06-02 06:01] #351 closed

[2022-06-02 13:39] Xoerk opened #362 "Error when running benchmark tests"
Hi,

We would like to try using this connector in our production environment and for that, we started to run some benchmarking tests, our Flink  app consumes events from Kinesis where each event is ~2k, then uses delta sink to convert to parquet and into delta.
Our parquet schema contains ~40 columns in different datatype.

We have tried running performance tests and noticed failures in:

[code]

[2022-06-07 10:14] ckipp01 opened #368 "Publishing empty source jars for `delta-standalone`"
If you look at the source jars that are being published for delta standalone, the source jars are just empty. For example you can see this in the latest `io.delta:delta-standalone_2.13:0.4.1` found [here](https://repo1.maven.org/maven2/io/delta/delta-standalone_2.13/0.4.1/). If you download the source jar inside you'll find it's just:

[code]

The reason this matters is that for any users that are

[2022-06-07 15:20] zhudaxi commented on #343
@scottsand-db Thanks for your feedback.

About the scan tool, we are using Veracode which is not free, so I can not add it to this project's build process.

[2022-06-07 17:03] #343 closed

[2022-06-09 12:37] grzegorz8 commented on #362
@Xoerk Could you provide full stack traces, please? Especially the second one, since it does not show what the actual error is. Thanks!

[2022-06-09 13:17] kristoffSC commented on #362
@Xoerk
could you also share were there any partitions defined for this table (sink configuration)? If yes then how many distinct values +/-.

Thanks.

[2022-06-09 14:34] gopik opened #371 "Flink DeltaSink: Add stats to AddFile actions."
The implementation passes null for the stats field for AddFile action. Adding stats to the log would enable optimization of queries on the delta table as well as help upsert implementation.

cc: @dennyglee

[2022-06-10 04:26] gopik commented on #345
Depends on https://github.com/delta-io/connectors/issues/371

[2022-06-10 07:29] tdas commented on #362
Flyby comment about the checkpointing. Committing newly written parquet files to the Delta table only happens at checkpoint boundaries. This is by design. This is what ensures exactly-once guarantee when writing into data into Delta. However, it wont cause out of memory  problem with a large checkpoint interval like 15 mins, because actually is continuously written and flushed into underlying parq

[2022-06-10 19:47] scottsand-db opened #373 "[delta-standalone] Create `isReadCompatible` API"
Or, at the very least, investigate how this potential API relates to the existing `isWriteCompatible` SchemaUtils API

[2022-06-13 08:16] grzegorz8 commented on #362
When it comes to the second stacktrace, I think it is irrelevant to the OOM problem and deserves a separate ticket. The following stacktrace is thrown when Delta Flink Connector tries to create a checkpoint (Delta checkpoint, not Flink checkpoint) after the first 10 commits.

[code]

In addition, I prepared a github repo in which I recreated both issues: https://github.com/grzegorz8/issue362

[2022-06-14 07:29] gopik commented on #371
The stats can either be computed while writeElement call (like the way record count is maintained) or it can be computed after parquet file is written (for example in toAddFile in DeltaPendingFile).

The file is visible only after writer is committed. If the file can be accessed (at its temp path) before committed, it can be computed as soon as the in progress writer is closed.

Otherwise, It can

[2022-06-14 09:13] Xoerk commented on #362
Hi All,
Sorry for the delayed response, @grzegorz8 I saw you managed to reproduce the issue, but just in case here are my full stack traces of both problems I have:
[code]

second problem

[code]

@kristoffSC, for your question we have only 2 partition column and ~20 additional data column,

[2022-06-14 09:30] grzegorz8 commented on #362
@Xoerk Thanks a lot for the stack traces. They are extremely useful, especially the first one.

The crucial aspect is how many partitions there are. In other words, what is the number of distinct values in partition columns.

I also would like you to answer these two more questions which would greatly help me with recreating the problem reliably:
1. Does the job fail exactly when the checkpoint is

[2022-06-14 13:23] grzegorz8 commented on #362
When it comes to the `InvalidRecordExceptions`, it is dependencies problem. Let me explain in more detail.

`com.github.mjakubowski84.parquet4s.ParquetSchemaResolver.resolveSchema` is used to resolve parquet schema from a class definition (`AddFile` in our case).

[code]

`ParquetSchemaResolver`, in turn, imports `org.apache.parquet.schema._` from `parquet-column` dependency. Now we have a depende

[2022-06-14 17:53] scottsand-db commented on #362
@grzegorz8 - we should be able to upgrade to parquet4s 1.9.4, as mentioned here https://github.com/delta-io/connectors/pull/303#issuecomment-1141008453. That should resolve this issue, correct?

[2022-06-14 19:42] scottsand-db commented on #362
parquet4s 1.9.4 depends on parquet-hadoop [1.12.2](https://github.com/mjakubowski84/parquet4s/blob/f249210cd8f737e608f281c7e0a02c43a608268b/project/DependecyVersions.scala#L2).

[2022-06-14 21:17] scottsand-db commented on #371
In general, we only want to expose internal fields to the components that need them. So, if your new features requires exposing this field to other classes, that's fine.

@gopik thanks for making this issue. Would you be interested in implementing your proposed solution? If so, want to start off with a short design doc, detailing the problem, requirements, and design decisions?

[2022-06-14 23:49] zsxwing commented on #368
Thanks for reporting this. This is an oversight when we refactor delta-standalone to include the shaded jackson libraries. We will investigate and see if it's possible to publish a correct source jar file.

[2022-06-15 02:05] gopik commented on #371
@scottsand-db Sure, I'll work on the doc and update.

[2022-06-15 11:45] grzegorz8 commented on #362
@scottsand-db At first glance it looks good. I updated parquet version as suggested (except the fact that [parquet4s:1.9.4](https://mvnrepository.com/artifact/com.github.mjakubowski84/parquet4s-core_2.13/1.9.4) depends on parquet-hadoop:1.12.0), then I run my test job with newly created `delta-flink` and `delta-standalone` artifacts, and checkpoints were created successfully.
[code]

I checked it

[2022-06-15 12:28] gopik commented on #371
https://docs.google.com/document/d/1GNujU7XpV2eG7OevFBSZeYKNRM-ZrUx7egb7ti5hAF4/edit#

[2022-06-15 15:39] grzegorz8 commented on #362
@scottsand-db Sure, I'll do.

This is exactly what I have proposed as the alternative. Now I think this is a better approach. The final delta-standalone jar will be slightly bigger, but we will pretty sure there are no conflicts with other libraries.

[2022-06-16 03:30] gopik commented on #371
Reference impl: https://github.com/delta-io/delta-rs/blob/main/rust/src/writer/stats.rs

[2022-06-16 15:44] scottsand-db commented on #371
Hi @gopik - the decision doc still seems incomplete. Can you let me know when it is ready for review?

[2022-06-17 15:27] gopik commented on #371
@scottsand-db Is there a reusable impl for serializing/deserializing add file stats?

[2022-06-17 15:30] scottsand-db commented on #371
@gopik - add file stats are just a string, to be interpreted as JSON. isn't that sufficient?

[2022-06-17 15:33] scottsand-db commented on #371
Can you please include, for each design decision, which option is preferred? and the rationale behind it? and the pros/cons of each option.

Additionally, feel free to continue to make a prototype / MVP. Reviewing a prototype and the design doc will help us verify whether the proposed design is actually feasible.

Also, FYI, just to give you context on our timelines, we are currently working hard

[2022-06-17 16:16] gopik commented on #371
@scottsand-db

I was looking for reading stats from parquet and converting into delta json format (and vice versa). There will be some non trivial logic for managing different field types. I'm prototyping an impl, so we can review this later as well.

As of now here are the design decisions that needed to be taken (pros/cons and preference):
### Compute stats vs using parquet metadata
We can eithe

[2022-06-17 16:28] scottsand-db commented on #371
@gopik Next ~two weeks!

[2022-06-21 03:10] gopik commented on #371
@scottsand-db
poc for stats json - https://github.com/gopik/connectors/blob/add-file-stats/flink/src/main/java/io/delta/flink/sink/internal/writer/stats/DeltaFileStats.java

[2022-06-21 16:41] kristoffSC commented on #110
Regarding point:  "After PR 14 run Sample job using Delta Sink/Source on a real cluster."

Basic manual tests were executed on Flink cluster running on a local docker setup.
Task Manager and Job Manager nodes were using shared docker volue to read from and write to Delta tables.

Performed tests:
- Bounded mode: Delta Table -> Flink Source -> Flink Sink
Source parallelism level = 3
Sink parallelis

[2022-06-22 03:04] gopik opened #380 "Delta Standalone: Stat serialization/deserialization inconsistent"
stats is a string field in AddFile. But while serializing it to the delta log, it's interpreted as json and serialized as object instead of string. But while deserialization, it fails since it expects the field to have a string value and not an object.

example log file where deserialization fails:
[code]

Exception stack trace:
[code]

[2022-06-22 04:38] gopik commented on #380
This works ok if added json is escaped.

Instead of
[code]

following works
[code]

[2022-06-22 04:42] gopik commented on #371
POC output:
[code]

[2022-06-24 17:10] scottsand-db commented on #380
Hi @gopik - thanks for this issue. I'll take a look.

[2022-06-29 00:52] kination commented on #222
@allisonport-db there are overrided 'equals' class in `DataType`. So you want `equivalent` to be act different with this, right?

[2022-07-01 17:10] zsxwing commented on #362
Fixed by #382

[2022-07-01 17:10] #362 closed

[2022-07-05 18:51] remoba opened #386 "Writing Delta Lake from a .NET service"
I am trying to test other ways to write to our Delta-based data lake. In other well known formats (Avro, Parquet, Json) I can easily do that in a .NET service, but it seems that's not possible with Delta.

Delta Standalone seems like the way to go for non-Spark processing, but it's only available in Scala / Java. Are there any plans to have a .NET version? Any other workaround I can try other than

[2022-07-08 19:33] artesdi opened #390 "Flink-delta incompatibility with AWS Serverless Runtime (Amazon Kinesis Data Analytics) - Flink 1.13"
I'm trying to deploy a `flink-delta` connector on AWS Runtime to sink data on s3 in `parquet`.
Everything works perfectly on my local machine in a local environment
`StreamExecutionEnvironment.createLocalEnvironment();`

But it fails on AWS Serverless runtime (Amazon Kinesis Data Analytics, Flink 1.13 ) with `IllegalAccessError` exception
`DeltaBulkPartWriter tried to access OutputStreamBasedPartF

[2022-07-11 16:41] scottsand-db commented on #371
@gopik - want to open up an official PR on the connectors repo?

[2022-07-11 22:28] allisonport-db commented on #390
Sorry the readme is wrong, 0.5.0 is not released yet (but coming soon)

[2022-07-12 03:49] gopik commented on #371
@scottsand-db created pr https://github.com/delta-io/connectors/pull/393

[2022-07-12 07:19] artesdi commented on #390
Closed as a known issue, shading of `org.apache.flink.streaming.api.functions.sink.filesystem` helped.

[2022-07-12 07:19] #390 closed

[2022-07-12 15:22] scottsand-db commented on #110
Latest javadocs as of commit eaab5866bb7d2c9240fb97c09fc48925a25510da
[0.5.0-SNAPSHOT.zip](https://github.com/delta-io/connectors/files/9094464/0.5.0-SNAPSHOT.zip)

[2022-07-12 20:40] allisonport-db commented on #222
Hi @kination sorry for the delay.

So basically we want to add `DataType::equivalent(DataType other)` which defaults to `equals` and `DecimalType::equivalent(DataType other)` that overrides it. Then instead of using `equals` in the comparisons in our code, we will use `DataType::equivalent(DataType other)` .

Does that clarify things? If you're interested in working on this let me know and I'll go

[2022-07-13 10:46] kination commented on #222
@allisonport-db thanks! Please let me take a look on this issue 🙏

[2022-07-13 21:00] scottsand-db opened #399 "Performance Improvement: cache per-partition results during partition pruning"
We perform partition pruning inside of [FilteredDeltaScanImpl](https://github.com/delta-io/connectors/blob/master/standalone/src/main/scala/io/delta/standalone/internal/scan/FilteredDeltaScanImpl.scala) by
- having some input query / expression `expr`
- creating a [PartitionRowRecord](https://github.com/delta-io/connectors/blob/master/standalone/src/main/scala/io/delta/standalone/internal/data/Par

[2022-07-14 10:54] kination commented on #222
@allisonport-db thanks. 1 more question...
Could you let me know which build command should I use for testing the result after fix?

[2022-07-19 15:47] vkorukanti commented on #386
Hi @remoba, AFAIK there are no plans for a .NET Delta log reader. Can you try the adapter for CLR to JVM mentioned [here](http://jni4net.com/)? Use this adapter to call the standalone Java APIs. Not sure of the perf implications of this adapter.

[2022-07-19 20:45] TKlerx opened #404 "Power BI Connector does not work when root path of delta table contained in function parameter"
Hey there,

when using power query to get the set of files for the delta connector, the following query results in an emtpy table when using the Power BI Delta connector:
[code]
This results in the following table:
![image](https://user-images.githubusercontent.com/1579185/179844771-3c8d7a99-1fc6-4d6e-92c3-1d842d38bb0e.png)

Having the first row there makes the delta connector fail.
Changing the p

[2022-07-20 10:37] kination commented on #222
@allisonport-db hello.
For test, when I run
[code]

it shows
[code]
Is this expected error?

[2022-07-25 21:55] 6a0juu opened #407 "Performance Improvement: column stats based file pruning for Delta Standalone Reader."
[FilteredDeltaScan](https://github.com/delta-io/connectors/blob/master/standalone/src/main/scala/io/delta/standalone/internal/scan/FilteredDeltaScanImpl.scala) in Standalone now implemented partition filter, it is to:

* having some input query / expression expr.
* creating a [PartitionRowRecord](https://github.com/delta-io/connectors/blob/master/standalone/src/main/scala/io/delta/standalone/inter

[2022-07-25 21:58] 6a0juu commented on #407
The milestone 1 (end-to-end implementation) for this feature: #403 .

[2022-07-26 16:22] scottsand-db opened #410 "Flink/Delta Sink can't write to GCP"
As stated in the flink [README.md's Known Limitations](https://github.com/delta-io/connectors/tree/master/flink#known-limitations) section, the latest Flink/Delta Sink version (0.5.0) only supports reading from GCP. Writing to GCP Object Storage is not supported. This is due to Flink not supporting recoverable writes to GCS, which was added in [Flink 1.15](https://issues.apache.org/jira/browse/FLI

[2022-07-26 16:25] scottsand-db opened #411 "Flink/Delta Sink can't write to Azure Blob Storage"
As stated in the flink [README.md's Known Limitations](https://github.com/delta-io/connectors/tree/master/flink#known-limitations) section, the latest Flink/Delta Sink version (0.5.0) only supports reading from Azure Blob Storage. Writing to Azure Blob Storage is not supported by Flink due to an [issue](https://issues.apache.org/jira/browse/FLINK-17444) with class shading and will probably be adde

[2022-07-26 21:13] allisonport-db commented on #222
I think this is because you're creating a scala BigDecimal. Our `Literal` expression supports `java.math.BigDecimal` (see here https://delta-io.github.io/connectors/latest/delta-standalone/api/java/index.html)

You can see other usages of `BigDecimal` in the ExpressionSuite (which use `BigDecimalJ`)

[2022-07-26 21:31] 6a0juu commented on #407
The second PR (primitive data type support) for this feature: #412 .

[2022-07-27 00:34] 6a0juu commented on #407
The third PR (expression type support) for this feature: #413 .

[2022-07-27 02:00] kination commented on #222
@allisonport-db thanks, you were right.
As you said there are exception on
[code]

So are you meaning to change comparing logic something like following?
[code]

If you could suggest some rough code format of data comparison using `equivalent`, it would be very helpful 🙏

Thanks.

[2022-07-28 00:21] allisonport-db commented on #222
No, we want `new EqualTo(Literal.of(BigDecimal.valueOf(2).setScale(1)), Literal.of(BigDecimal.valueOf(2).setScale(2))).eval()` to not throw an error, as it should be a valid comparison.

`equivalent` will only be used internally by our code to compare data types, which will replace any usages of `equals`. Please see https://github.com/delta-io/connectors/issues/222#issuecomment-1182481164 I think

[2022-07-28 09:47] kination commented on #222
@allisonport-db thanks. More clear.

For now, it seems `DataType::equivalent` should compare only type name, and `DecimalType::equivalent` should compare `precision` and `scale`.

So, for `DataType::equivalent`
[code]

For `DecimalType::equivalent`
[code]

am I understanding correct?

[2022-07-29 02:41] sonhmai commented on #399
@scottsand-db I would like to contribute. can you assign this issue to me?

[2022-07-29 15:25] scottsand-db commented on #368
Same for javadocs: https://repo1.maven.org/maven2/io/delta/delta-standalone_2.13/0.4.1/delta-standalone_2.13-0.4.1-javadoc.jar

[2022-07-29 15:26] scottsand-db commented on #399
@sonhmai - great to hear! I will assign it to you. Cheers.

[2022-07-29 18:09] 6a0juu commented on #407
The PR support more expression type: #418 .

[2022-07-30 06:32] sonhmai commented on #399
@scottsand-db
I assumed that the number of unique combinations of partition values can be contained in memory.

Hence, I'm thinking about just adding a `mutable.Map[Map[String, String], Boolean]` in [FilteredDeltaScanImpl](https://github.com/delta-io/connectors/blob/master/standalone/src/main/scala/io/delta/standalone/internal/scan/FilteredDeltaScanImpl.scala) to cache the unique `result` of uniqu

[2022-08-01 15:59] scottsand-db commented on #399
Hi @sonhmai - that SGTM. @tdas - I don't expect any memory issues here, unless the user has > hundreds of thousands of partitions.

[2022-08-02 12:41] adriandavidsmith opened #420 "Flink Complex Data Types - Support for Flink v1.15.x"
Using Flink v1.14.5 and the Respective Flink Delta Connector v0.4.1, it appears that complex data types are not supported when writing data to S3.

i.e.
[code]

yields the following
[code]

This seems to be related to Flink not being able to do these conversions. Upon further investigations, this issue seems to have been fixed as part of Flink 1.15.x in following [ticket](https://issues.apache.org

[2022-08-02 13:42] kristoffSC commented on #420
Hi,
thanks for the feedback.

Updating to Flink 1.15 is actually under evaluation for "Flink SQL+ Table API + Catalog Support" item from the road map.

[2022-08-03 02:38] sonhmai commented on #350
@scottsand-db may I take this issue? please assign to me :-)

[2022-08-03 03:20] scottsand-db commented on #350
@sonhmai - that would be great if you could help on this! thanks!

[2022-08-08 23:51] kination commented on #222
@allisonport-db one more, is `DecimalType` should through error when input `DataType` is not `DecimalType`?

[2022-08-10 02:56] scottsand-db commented on #404
@gbrueckl - is this something you think you could take on?
also, @TKlerx would you be interested in implementing a fix?

[2022-08-10 07:13] gbrueckl commented on #404
sure, will have a look - should not be hard to fix

[2022-08-12 15:31] scottsand-db commented on #404
Awesome. Assigned to you @gbrueckl !

[2022-08-15 13:25] gopik commented on #371
TBD:
1. For binary only string type is supported, other fields (byte array, int96 etc) will be ignored.
2. Array types should be ignored.

[2022-08-20 17:26] JozefDropco opened #422 "Unsupported data type of Deltalake"
Hi,
I am sorry to disturb but I came along issue which I am not able to solve. DataTypeParser is throwing error and I didnt find a way how to go around this issue
[code]
Is there a way how to enrich the data types myself ? I have seen this class is copied from original spark but there I found the support implemented, am I able to help you somehow to implement this support? Maybe I will need some b

[2022-08-23 04:41] zsxwing commented on #422
Delta doesn't support interval types. It's more than just parsing `interval year to month`. We need to store it in the parquet files and also make sure all of readers can read it. It will not be an easy change.

Do you have a usage of interval types? Most of the time, we just see people use them to do the date/time calculation but don't see people store intervals.

[2022-08-23 06:30] SteNicholas commented on #111
@dennyglee, @tdas , I come from Flink community and also have interest in Flink and Delta. Which tasks have not been completed?

[2022-08-23 07:07] tdas commented on #111
@SteNicholas I tasks tied to the Sink have already been competed. The major piece we are working on is Table API and Catalog support (#250 and #389).

[2022-08-23 07:09] tdas commented on #404
@gbrueckl any update on this?

[2022-08-23 08:12] gbrueckl commented on #404
not 100% sure but I am not able to reproduce the issue with the current/latest version.
It was probably fixed with the code that was released 3 days after this ticket was opened
@TKlerx  can you please verify again with the latest code from this repo

[2022-08-23 10:45] gopik opened #423 "Passing options to delta flink sink"
Hi,
I would recommend to do it via `.option(...)`. And the implementation for `.option(...`) for Delta Sink Builder in my opinion should be implemented in separate branch, reviewed and merged before this one. @scottsand-db sounds good to you?

The hadoop conf is needed/used only by delta standalone. There is no interaction between Flink specific classes from Delta connector with hadoop conf and I

[2022-08-23 10:46] gopik commented on #423
@kristoffSC I've created this issue to track options work as discussed in #393 .

Do we want to replicate the structure (DeltaSourceConfiguration, DeltaSourceOptions, DeltaConfigOption etc) within sink? Or should we extract common structure in common? DeltaSourceConfiguration and DeltaConfigOption seem generic and DeltaSourceOptions seems to be specific to source.

[2022-08-23 10:47] gopik commented on #423
cc: @scottsand-db

[2022-08-23 13:02] kristoffSC commented on #423
@gopik
thanks for creating this issue, adding the description with our previous discussion and thank you for starting development for it.

Regarding your questions, I believe that:
1. `DeltaSourceConfiguration` -> can be used for both Sink and Source. You would have to change its name to something like `DeltaConnectorConfiguration` and move to common package but still under "internal".

2. `DeltaS

[2022-08-23 13:49] kristoffSC opened #424 "Flink Source Connector - problem with Delta's shared forkJoinPool when computing Snapshot files"
For Flink jobs using Delta-Flink source connector it may happen that Flink will throw exception:

[code]

**Flink Exception description**
This is a Flink's check to detect if user code (Flink Job code) uses a class loader that was already used by some other job that was executed on this cluster. This is a Flink's safety check to detect case when for any reason not all classes from previous, finish

[2022-08-23 14:02] gopik commented on #423
Hey @kristoffSC please take a look at the approach in the PR - https://github.com/delta-io/connectors/pull/425

This PR is incomplete, only shared for quick feedback.

[2022-08-23 23:19] allisonport-db commented on #222
(1) As mentioned in the issue description as well as my comments above, `equivalent` should just default to using `equals`. We do not need to compare type name in the `equivalent` function.

(2) Our whole goal of this fix, as mentioned in the issue description and throughout the comments, is to make comparison expressions between decimal types with different scales/precisions valid. The implementa

[2022-08-23 23:23] allisonport-db commented on #222
If you haven't seen it, here is an example of the code that is throwing the mismatched data types error: https://github.com/delta-io/connectors/blob/master/standalone/src/main/java/io/delta/standalone/expressions/BinaryOperator.java#L16 (also linked in a comment above)

[2022-08-24 03:22] kination commented on #222
@allisonport-db yes, I've checked that comparison logic.
https://github.com/delta-io/connectors/pull/426

Could you check the following, and whether I'm approaching correctly?

[2022-08-24 08:58] JozefDropco commented on #422
hi @zsxwing,
I was talking with my colleagues which are primary users of DeltaLake as of now they dont need this support. They created example input for me to test my implementation. I had to support Parquet and DeltaLake read/write with custom object. I used
org.apache.parquet.hadoop.ParquetWriter<Record> and org.apache.parquet.hadoop.ParquetReader<Record> and for DeltaLake read CloseableIterator

[2022-08-24 08:58] #422 closed

[2022-08-25 11:28] SteNicholas opened #428 "[Feature Request]Flink Connector supports the `SupportsReadingMetadata` and `SupportsWritingMetadata` interfaces"
`SupportsReadingMetadata` supports reading metadata columns and `SupportsWritingMetadata` supports writing metadata columns. Hence Flink Connector could support the `SupportsReadingMetadata` and `SupportsWritingMetadata` interfaces to read and write the metadata of Delta for query and storage of metadata.

[2022-08-26 09:46] suhanovv opened #429 "Create external table from hive gives error"
### Versions of libraries:
cloudera hadoop cdh6.3.2 with hadoop 3.0.0 and hive 2.1.1.
delta connectors 0.5.0 downloaded from release page https://github.com/delta-io/connectors/releases (all scala versions)
files on hdfs were created from spark 3.3.0 with delta lake 2.0

### Problem description
When i tried create external table from hive:
[code]

i was getting error:

[code]

Building connectors

[2022-08-26 16:00] scottsand-db commented on #428
Hi @SteNicholas, this looks like a useful enhancement. Would you be interested in contributing this?

Also - what are "metadata" columns?

[2022-08-26 18:52] scottsand-db commented on #380
Hi @gopik - sorry for the delay. I've confirmed this issue myself, too.

Want to copy over https://github.com/delta-io/delta/blob/master/core/src/test/scala/org/apache/spark/sql/delta/ActionSerializerSuite.scala from delta-io/delta repository?

And perhaps investigate the fix?

[2022-08-26 22:13] zsxwing commented on #429
Hm, looks like Hive 2.1.1 doesn't include Scala libraries. Could you download Scala libraries from the following links and add them?
- https://mvnrepository.com/artifact/org.scala-lang/scala-library
- https://mvnrepository.com/artifact/org.scala-lang/scala-reflect
- https://mvnrepository.com/artifact/org.scala-lang/scala-compiler

[2022-08-26 22:24] tdas commented on #110
this has been released in Delta connectors 0.5.0

[2022-08-26 22:24] #110 closed

[2022-08-28 13:59] SteNicholas commented on #428
@scottsand-db, you could refer to [FLIP-107](https://cwiki.apache.org/confluence/display/FLINK/FLIP-107%3A+Handling+of+metadata+in+SQL+connectors). I have interest to contribute this feature but need the agreement of you.

[2022-08-29 10:53] suhanovv commented on #429
i tried two variants:
- add libs as dependencies and compile, but nothing changed
- add jars to the HIVE_AUX_JARS_PATH, and now i'm getting error:
[code]

[2022-08-30 02:27] gopik commented on #380
Sure, I'll look into this.

[2022-08-30 17:13] zsxwing commented on #424
Could you point out which line will touch the shared fork join thread pool? I would expect the flink connctor should not touch  `SnapshotImpl.loadInMemory`.

[2022-08-30 17:54] zsxwing commented on #429
What are the jars you added to `HIVE_AUX_JARS_PATH`? You would need Scala jars and the delta-hive-assembly jar.

[2022-08-30 19:19] kristoffSC commented on #424
Hi @zsxwing
It does not do it directly.

Flink connector calls snapshot.getAllFiles() which delegates to Snapshot's `state`, and `state` calls `loadInMemory`

[2022-08-30 19:20] suhanovv commented on #429
exactly, i added jars from the https://mvnrepository.com:
- scala-compiler-2.12.8.jar
- scala-library-2.12.8.jar
- scala-reflect-2.12.8.jar
and delta-hive-assembly_2.12-0.5.0.jar from the releases page

[2022-08-30 21:18] zsxwing commented on #429
Have you seen any exception in the hive server logs?

[2022-08-31 13:57] KumudKoirala opened #430 "[QUESTION] How to connect with minIO running inside k8s cluster with Power BI using this connector?"
I am trying to connect with minio bucket / delta lake  which is currently residing inside my K8s cluster and Power BI desktop . i could not find data source connection in Power query M documentation specifically for S3/minIO storage. Any help will be appreciated
thanks

[2022-09-01 09:12] suhanovv commented on #429
Yes, i got the logs from our cluster and saw  errors relevant for my problem.

when i was getting error `java.lang.NoSuchMethodError: scala.Some.value()Ljava/lang/Object;` i found this error:

[code]

 when i was getting `SemanticException Cannot find class 'io.delta.hive.DeltaStorageHandler'` i found this error:

[code]

[2022-09-01 10:31] horizonzy opened #433 "Question about AddFile dataChange flag."
A question about flag dataChange  in the AddFile , the flag dataChange  in txn log is true . But in the program, the value is false . Is it a bug?

In the tnx log:
[code]

**In the program:**
<img width="1920" alt="image" src="https://user-images.githubusercontent.com/22524871/187893227-8cfbaeb8-1346-4828-9e0c-9f6f387d741e.png">

I notice the code, it make dataChange to false forcefully. Is there

[2022-09-01 20:42] allisonport-db commented on #433
Hi @horizonzy, the `dataChange` flag is only meaningful when looking at the actions added in a specific version (or the actions within a single commit) but not when looking at all the `AddFiles` in a snapshot. AFAIK here we just set `dataChange=false` to canonicalize the actions

[2022-09-06 20:04] zsxwing commented on #424
@kristoffSC Can we move to `Snapshot.scan` instead? `getAllFiles` is the old inefficient API. cc @scottsand-db

[2022-09-06 21:39] kristoffSC commented on #424
@zsxwing using snapshot.scan() is something that I can evaluate, however the same problem happens in Flink-Delta Sink, where we do not call `snapshot.getAllFiles()`.

In Sink, we call `OptimisticTransaction.commit` which eventually delegates `SnapshotImpl::setTransactionsScala`
This initializes `state` which calls `loadInMemory` that uses parallel collection with shared thread pool.

I do believe

[2022-09-06 21:54] zsxwing commented on #424
I see. That part is not easy to fix. One quick fix in my mind would be creating a thread pool when creating `SnapshotImpl`. state` and destroy it when the load is done. The overhead of the thread pool should be trivial as this would only happen in the write path.

[2022-09-06 22:01] kristoffSC commented on #424
@zsxwing

well substituting thread pool for Scala's parallel collection is something I did in my POC fix for this issue that I posted in issue's description. Please take a look. That seems to solve the problem. However Im not a scala developer, so I did not want to submit an actual PR.

From Flink connector point of view, thread pool can be scoped to DeltaLog instance or Snapshot Instance.
As long

[2022-09-07 16:23] scottsand-db commented on #380
Thanks!

[2022-09-07 16:45] scottsand-db commented on #428
@SteNicholas - is this only useful using SQL/Table API? Is this useful using the currently-supported DataStream API?

[2022-09-07 16:45] scottsand-db commented on #428
Also - it's not exactly clear to me how these "metadata" columns should be persisted to the _delta_log.

[2022-09-07 20:18] scottsand-db commented on #424
@kristoffSC this approach seems simpler, no? all tests pass. we just need to avoid using `ForkJoinPool.commonPool()`. We can still use an instance of `ForkJoinPool`
[code]

[2022-09-07 22:37] dnskr opened #437 "Non-optimal read for newly created Delta table from S3"
Standalone connector is used in PrestoDB delta connector.
There is a performance issue when I read newly created Delta table (without _last_checkpoint) stored on S3.
The reason of the issue is here [Checkpoints.scala#L133](https://github.com/delta-io/connectors/blob/master/standalone/src/main/scala/io/delta/standalone/internal/Checkpoints.scala#L133)
[code]
For local file system the flow for missi

[2022-09-07 22:47] zsxwing commented on #437
Hm, good catch. Should this be fixed in `PrestoS3FileSystem` instead? We assume `FileNotFoundException` when a file doesn't exist.

[2022-09-07 23:22] dnskr commented on #437
@zsxwing Thanks! You are right, I've checked and it can be fixed in `PrestoS3FileSystem` class.

Btw, I wonder if it's ok that the normal flow in `loadMetadataFromFile` goes through exceptions? I assume that missing `_last_checkpoint` is the normal case for newly created table.

[2022-09-08 00:23] ChenShuai1981 opened #438 "[Question] How to ingest change data captured data from kafka to delta lake by Apache Flink?"
Does Delta Flink Connector support "merge into" semantics like Delta Spark DataFrame API ?

[2022-09-08 03:39] zsxwing commented on #437
`loadMetadataFromFile` may hit transient exceptions on some storage such as Azure when `_last_checkpoint` is being overwritten. We do the retry to workaround such rare case.

[2022-09-08 12:20] rdziadosz opened #439 "Flink Delta Connector end-to-end tests"
Connector end-to-end tests are developed in order to identify potential bugs automatically at the early development stage.

## Implementation plan
In order to make code review easier, the implementation of end-to-end tests should be divided into multiple pull requests. We plan to do it in the following steps (some of them can be done in parallel):

PR-01: Project skeleton.
- Shows how the project

[2022-09-08 18:28] zsxwing commented on #437
Thanks for creating the PR to fix the issue in Presto. I will close this as there is no action item in Delta Lake side.

[2022-09-08 18:28] #437 closed

[2022-09-08 18:49] scottsand-db commented on #430
cc @gbrueckl

[2022-09-08 19:35] gbrueckl commented on #430
I am afraid that there is currently no connector in PowerBI that allows you to get the required file listing for the Delta Connector from an S3 storage.

The only ways to connect to S3 from PowerBI would be via API calls or Python/R scripts which will be hard to integrate with the existing Delta Connector.

In general, the connector supports all data sources supported by PowerBI as long as they ca

[2022-09-08 19:54] scottsand-db commented on #438
Hi @ChenShuai1981. The Flink-Delta connector Sink only supports appends.

https://github.com/delta-io/connectors/tree/master/flink#can-i-use-this-connector-to-append-data-to-a-delta-table

https://github.com/delta-io/connectors/tree/master/flink#can-i-use-this-connector-with-other-modes-overwrite-upsert-etc-

[2022-09-08 19:54] #438 closed

[2022-09-09 06:39] KumudKoirala commented on #430
thanks for the information ... I found another way to do it using delta sharing server .

[2022-09-09 06:39] #430 closed

[2022-09-09 09:38] SteNicholas commented on #428
@scottsand-db, this is indeed useful for the Table/SQL API, because these interfaces are based on Table API.

The "metadata" columns are used to help to specify certain info of the writen _delta_log.

[2022-09-09 11:34] horizonzy commented on #257
Can we make the checkpoint content files order. The current checkPoint content = last checkPoint + recent transaction logs.

[2022-09-09 18:10] #424 closed

[2022-09-12 15:39] scottsand-db commented on #428
Can you make this clearer in the issue description?

Glad you want to contribute this. Do you think you could make a PR after https://github.com/delta-io/connectors/pull/389 is merged?

[2022-09-12 16:48] scottsand-db commented on #257
@horizonzy - when we create the checkpoint, we use `snapshot.allFilesScala` (see `Checkpoints.scala`).
To generate `snapshot.allFilesScala`, we perform an in-memory-log-replay, where we keep track of the AddFiles seen so far using a hashMap. To create the `allFilesScala`, we get an iterable from that hash map. Thus, ordering is not guaranteed.

So I don't see a way to make the checkpoint contain f

[2022-09-12 17:55] horizonzy commented on #257
Change (transactions,activeFiles,tombstones) type to `LinkedHashMap` in `InMemoryLogReplay` may make it.

[2022-09-12 18:00] scottsand-db commented on #257
@horizonzy - perhaps. But this is only one delta client. We don't know who wrote the previous json files or checkpoints.

If another delta client wrote the previous checkpoint, and mixed up the order of files, doesn't that defeat the purpose?

[2022-09-12 18:06] horizonzy commented on #257
It doesn't matter, we just keep the order to be consistent with the order in the json file, rather unpredictable order.

[2022-09-12 18:22] zsxwing commented on #257
We cannot enforce any ordering on the checkpoint files. A checkpoint may contain multiple files, and it's up to the writer to decide how to split a checkpoint.

[2022-09-13 02:00] horizonzy commented on #257
The chenkpoint content is from transactions, we just add all the actions from the first transaction's first action to the last transaction ac's last action.

[2022-09-13 05:01] zsxwing commented on #257
The current (protocol)[https://github.com/delta-io/delta/blob/master/PROTOCOL.md] says nothing about the order. And there is no order guarantee in the current checkpoint writer implementation. We cannot add the order requirement when the checkpoints in existing tables cannot satisfy the requirement.

If we want to provide an API in Delta Standalone, we have to sort actions in some deterministic or

[2022-09-13 05:55] horizonzy commented on #257
Yes, the old data is difficult to compatible.

We follow the order of the content order in transactions.

Example:

`00000000000000000000.json`
[code]

It contains 6 AddFile, we should follow the order in the tnx content. The next tnx log also followed it.

The order example:
json0_AddFile0 -> json0_AddFile1 -> json0_AddFile2 -> json0_AddFile3 -> json0_AddFile4 -> json0_AddFile5 -> json1_AddFile0

[2022-09-13 06:03] zsxwing commented on #257
We don't have the original file name of an action when reading a checkpoint. So we cannot sort by the json files. If you propose to add the original file name of an action into the checkpoint files, what should we do with the existing tables not having such information?

[2022-09-13 06:22] horizonzy commented on #257
We make sure the checkpoint's action is ordered. Every time to generate checkpoint, it will append current snapshot.activeFiles, If the activeFiles always order, the content of checkpoint is always ordered.
But there is a not sure point, the snapshot differ action as `setTransactions`, `tombstones`, `activeFiles`, maybe we can't ensure the order between `setTransactions`, `tombstones`, `activeFile

[2022-09-13 12:11] sonhmai commented on #399
@scottsand-db should this issue be closed as the MR was merged?

[2022-09-13 17:19] zsxwing commented on #429
I feel there is an old Scala version on Hive classpath. Would you be able to search jars provided by Hive and see what's the scala version there? By the way, I don't see any Scala libraries on Apache Hive 2.1.1. This is likely a special issue in CDH Hive.

[2022-09-13 18:07] #399 closed

[2022-09-13 18:37] scottsand-db commented on #257
Hi @horizonzy - we would need all clients to do this. Else, when you read a checkpoint, you wouldn't know which client wrote it and if it is sorted. Enforcing all clients to do this would be a protocol change.

We are allowed to propose new protocol changes, but I think you'd have to really argue your case. What benefit do we get from this?

[2022-09-14 13:04] horizonzy commented on #257
I want to filter particular AddFile to read data.  I will apeend tag to AddFile, likes (start:0, end:100), that means this AddFile contains the data which is from 0 to 100. If I want to fetch data 50, The AddFile(start:0, end: 100) contains the data I want, then I read the data from AddFile.getPath().

After I read the source code, I find out that it is not work. Although the AddFile is ordered, i

[2022-09-14 15:37] horizonzy commented on #257
The snapshot.scan(Expression) also check AddFile one by one, it check AddFile  `partitionValues` is not match the expression, it's also inefficient.

[2022-09-14 16:13] #433 closed

[2022-09-14 16:14] zsxwing commented on #257
We are discussing the new topic about AddFile scanning in https://delta-users.slack.com/archives/CJ70UCSHM/p1663156471536779

[2022-09-14 17:03] zsxwing commented on #288
@vinijaiswal should we create an issue in https://github.com/delta-io/delta-rs instead since we don't plan to create a new native Python library?

[2022-09-14 22:54] ThachNgocTran opened #444 "Table cells are all NULL if the Delta Lake table were earlier saved with option "delta.columnMapping.mode" as "name""
### Reproducibility

If the Delta Lake table is saved using the Python code:

(notice the setting `delta.columnMapping.mode`)

[code]

In Power BI later, fetching the table, using the Connector, as followed:

[code]

Even though the columns are well recognized/displayed, the table cells are completely null. (i.e. null everywhere)

### Comment

As far as I know, the reason to use this setting is to

[2022-09-15 07:44] ThachNgocTran commented on #444
The screenshot of Power BI when the issue occurs.

![Screenshot_2022-09-15_001](https://user-images.githubusercontent.com/9520123/190345492-0554086b-7ea7-46f9-8764-059635509587.jpg)

[2022-09-15 19:41] gbrueckl commented on #444
I will have a look but i am quite sure this is currently not supported.
The options I see is either implementing column mapping properly or throwing a better error as suggested
Will keep you updated here!

[2022-09-16 10:40] suhanovv commented on #429
I couldn't find the jars provided by Hive, but after your comment I found the version of spark that is installed on the cluster and the requirement for the scala version. I removed all jars from HIVE_AUX_JARS_PATH and then put the jar of delta connectors for scala 2.11 and it worked.

Thnx for help.

[2022-09-16 10:40] #429 closed

[2022-09-20 16:27] rdziadosz commented on #439
PR-02-A: https://github.com/delta-io/connectors/pull/445

[2022-09-22 07:28] gbrueckl commented on #444
@ThachNgocTran can you please try the version from here
https://github.com/gbrueckl/connectors/blob/master/powerbi/fn_ReadDeltaTable.pq

it worked quite well for my personal tests but would be great if you could also validate it against your Delta Tables

There is one known limitation where it does not work properly when you have struct data types in your table (but I guess this is a very rare edg

[2022-09-22 10:51] gbrueckl commented on #109
thats implemente for quite some time already :)
https://github.com/delta-io/connectors/tree/master/powerbi#timezoneoffset

[2022-09-22 10:51] #109 closed

[2022-09-22 15:56] TKlerx commented on #404
Yeah, it is working now without trailing "/"

[2022-09-22 15:56] #404 closed

[2022-09-25 03:12] cometta opened #446 "external table using delta format"
when execute below command in beeline or pyspark, the table metadata is stored successfully in hive metastore with below warning

[code]

[code]

Is there anyway to save the external table using format that hive metastore can support without throwing above error when using together with beeline/pyspark?

I can’t use  ```STORED BY 'io.delta.hive.DeltaStorageHandler' ```, because I create external t

[2022-09-27 17:12] zsxwing commented on #446
This is not supported today. We have an issue to track this https://github.com/delta-io/delta/issues/1045 . Please add new comments there and I'm going to close this.

[2022-09-27 17:12] #446 closed

[2022-10-01 19:52] dominikpeter commented on #444
I had the same issue. I tested the proposed version, and it worked for me. Thanks a lot!

[2022-10-03 13:33] ThachNgocTran commented on #444
@gbrueckl Sorry for getting back this late. I have tested the new function `fn_ReadDeltaTable()`, and it works well in case of using `.option("delta.columnMapping.mode", "name")`: no longer see `null` everywhere.

Before this fix, I worked around by not using the option, **and** removing special characters (` ,;{}()\n\t=`) out of Spark DataFrame's column names beforehand.

Great work!!! :100:

[2022-10-03 18:26] gbrueckl commented on #444
thanks for the testing and the positive feedback @ThachNgocTran and @dominikpeter
I just created the PR with the fix https://github.com/delta-io/connectors/pull/448

[2022-10-06 19:58] zhudaxi opened #449 "CVE-2022-42004, CVE-2022-42003 with jackson-databind"
delta-standalone now has jackson-databind 2.12.3 version shaded, which has security vulnerability CVE-2022-42004(High) and CVE-2022-42003 (High).

Version 2.14.0-rc1 has the security fix.

[2022-10-10 12:16] ThachNgocTran opened #450 "A row of null is added when loading a Delta Lake table, with data stored in S3, via Delta Sharing Server, to Power BI Desktop"
### Reproducibility

An example to generate and save a Delta Table to S3:

[code]

`core-site.xml` in `conf` folder of Delta Sharing Server:

[code]

`delta-sharing-server.yaml` in `conf` folder of Delta Sharing Server:

[code]

In Power BI Desktop, write Power Query as followed:

[code]

Then, the issue:

![Screenshot_20221010_133119](https://user-images.githubusercontent.com/9520123/194862083-8e

[2022-10-10 12:21] ThachNgocTran commented on #450
@gbrueckl Sorry to bother you. But I think this issue might be interesting. I saw your contribution to this Connector (https://github.com/delta-io/connectors/pull/87).

[2022-10-10 13:36] gbrueckl commented on #450
the Delta Sharing connector for Power BI has not much to do with my Power BI Connector
Unfortunately I also do not know who is developing Delta Sharing connector but I am sure one of the moderators will jump in here
@dennyglee @scottsand-db

[2022-10-10 16:13] #450 closed

[2022-10-10 17:38] linzhou-db commented on #450
@ThachNgocTran Could you also try https://github.com/databricks/powerbi-delta-sharing-connector which is more directly related to the powerbi delta sharing connector.

[2022-10-11 07:52] horizonzy commented on #257
The chenkpoint content is from transactions, we just add all the actions from the first transaction's first action to the last transaction ac's last action. And it's easy to implement

发自我的iPhone

------------------ Original ------------------
From: Shixiong Zhu ***@***.***&gt;
Date: Tue,Sep 13,2022 2:22 AM
To: delta-io/connectors ***@***.***&gt;
Cc: Yan Zhao ***@***.***&gt;, Mention ***@***.***&g

[2022-10-11 17:40] scottsand-db commented on #257
@horizonzy what if we added an API/config that sorted the data on read? also, what would be sort it by?

[2022-10-12 05:12] zsxwing commented on #449
These CVEs don't affect Delta Standalone as we don't use jackson to parse any user inputs directly. But it's still good to upgrade to a latest jackson version.

[2022-10-14 11:26] kination commented on #222
@allisonport-db close it if there's no issue 🙏

[2022-10-18 13:37] remoba commented on #386
Hey @vkorukanti, sorry for the late reply.
I figured as much but thought I'd verify.

I don't think using jni4net is really viable in 2022, at least for us. As far as I can tell the library was last released 8 years ago (2014) and therefore also only supports .NET Framework, which is deprecated.

I guess the only thing we can really do is use a Scala / Java application, or fall back to Spark. Than

[2022-10-18 22:31] zsxwing commented on #386
Yep this seems the current only option. Closing the ticket.

[2022-10-18 22:31] #386 closed

[2022-10-27 14:21] ThachNgocTran opened #459 "Power BI Connector: Delta Sharing - Unable to work with tables stored in SSE-C encrypted S3"
**Important Note**: I don't know if this is the right place to post bugs related to _the_ Power BI's Delta Sharing Connector. That is the one here: (Get-Data dialog in Power BI Desktop v2.110.805.0 (October  2022))

![image](https://user-images.githubusercontent.com/9520123/198304211-1e4e15e3-e13c-4db4-93bb-1188fd1ebcf7.png)

In contrast, the Power BI's Connector for Delta Lake mentioned in https:

[2022-10-28 19:27] #423 closed

[2022-10-31 19:07] noelo opened #462 "Flink Connector FAQ says that reading isn't supported even though it is"
ref: https://github.com/noelo/connectors/blob/master/flink/README.md#frequently-asked-questions-faq

Can I use this connector to read data from a Delta table?

No, currently we are supporting only writing to a Delta table. A DeltaSource API with the support for reading data from Delta tables will be added in future releases.

But further up in the same README.md

Delta Source
Modes

Delta Source c

[2022-11-02 19:31] scottsand-db opened #467 "[BUG] Data Loss using Flink-Delta Sink on Apache Flink 1.15"
The goal of this issue is to inform Flink-Delta connector users of a known data loss problem with the Flink-Delta Sink, track the status of the ongoing investigation and solution, and answer any questions that users may have.

## Overview

A user of the [flink-delta connector](https://github.com/delta-io/connectors/releases/tag/v0.5.0) reported various problems (including data loss, but also recov

[2022-11-02 20:27] allisonport-db opened #468 "Upgrade Delta Standalone to support higher Delta protocol versions"
## Motivation
Currently  [Delta Standalone](https://docs.delta.io/latest/delta-standalone.html) only supports reader version 1 and writer version 2 of the [Delta Protocol](https://github.com/delta-io/delta/blob/master/PROTOCOL.md). This means any connectors using the library are blocked from reading or writing to higher protocol tables. Therefore, users that use delta-standalone-based connectors (

[2022-11-02 21:52] scottsand-db opened #470 "Re-enable flaky flink-delta sink unit test"
This PR disabled a unit test. https://github.com/delta-io/connectors/pull/469

Please re-enable it before we release 0.6.0.

[2022-11-02 22:36] #462 closed

[2022-11-04 12:15] ckavili opened #472 "Flink Connector version 0.5.1-SNAPSHOT"
Hi,

According to [flink connector documentation](https://github.com/delta-io/connectors/tree/master/flink) in the repo, there is. `0.5.1-SNAPSHOT` version of the connector working with Flink version `1.14.0 <= X <= 1.14.5`. When is it going to be released? Also, is flink version 1.14.5 really the most recent version that the connector supports or version v1.15+ will be also supported? I couldn't

[2022-11-04 15:33] scottsand-db commented on #467
Thanks @kristoffSC for working on this!

[2022-11-15 12:03] kristoffSC commented on #472
Hi,
we recently migrated connector to 1.15.
https://github.com/delta-io/connectors/pull/434

This means that next release for connector will be supporting 1.15+ not 1.14.

However due to few Flink 1.15 bugs regarding Sink architecture
https://issues.apache.org/jira/browse/FLINK-29509
https://issues.apache.org/jira/browse/FLINK-29512
https://issues.apache.org/jira/browse/FLINK-29627

I would recomm

[2022-11-15 12:04] kristoffSC commented on #467
PR ready:
https://github.com/delta-io/connectors/pull/473

[2022-11-15 12:08] kristoffSC opened #474 "Migrate Flink-Delta connector to Flink 1.15.3 and re-enable Integration tests"
After releasing Flink 1.15.3 change Flink version in build.sbt from 1.15.2 to 1.15.3 and re-enable Integration tests that were turned off due to Flink issues:

https://issues.apache.org/jira/browse/FLINK-29509
https://issues.apache.org/jira/browse/FLINK-29512
https://issues.apache.org/jira/browse/FLINK-29627

Tests to re-enable:
DeltaSinkStreamingExecutionITCase::testFileSinkWithGlobalCommitterFai

[2022-11-15 22:04] zsxwing commented on #459
Currently Delta Sharing doesn't support SSE-C. Feel free to open a feature request in https://github.com/delta-io/delta-sharing

[2022-11-15 22:04] #459 closed

[2022-11-15 23:27] scottsand-db opened #475 "[0.5.1 Release] [Master] Upgrade delta-storage dependency to 2.1.1"
We want to pull in the various improvements to delta-storage from the delta lake 2.1.1 release https://github.com/delta-io/delta/releases/tag/v2.1.1

[2022-11-15 23:32] #472 closed

[2022-11-15 23:36] scottsand-db opened #477 "[0.5.1] Issue tracking"
We should cherry-pick the following commits for 0.5.1:
- TODO: https://github.com/delta-io/connectors/pull/476
- Cache partition filter result: d9b766b1932bcf64fd18c7757eb4d2c790546e0b

[2022-11-19 00:31] kination commented on #209
@allisonport-db @zsxwing is this still remaining issue?

[2022-11-22 22:09] scottsand-db commented on #467
Closing since https://github.com/delta-io/connectors/pull/473 was merged.

[2022-11-22 22:09] #467 closed

[2022-11-29 07:04] YannByron opened #479 "[Feature Request] Flink Connector supports Update and Delete Delta Table"
Hi guys, when can Flink-Connector support Update/Delete syntax.

[2022-11-29 07:26] tdas commented on #479
Does Flink support DELETE/UPDATE SQL syntax? From their docs it does not seem so
https://nightlies.apache.org/flink/flink-docs-master/docs/dev/table/sql/overview/

[2022-11-29 21:53] allisonport-db commented on #209
yes if you run the command in the title you will see the above error

[2022-11-30 11:24] kristoffSC opened #481 "[Flink-connector] - Use InitContext#getRestoredCheckpointId for checkpointId recovery"
Currently `DeltaWritter` uses checkpoint ID stored in `DeltaWriterBucketState`.
This might not work well for cluster up scaling since this could potentially lead to that the task start with checkpointId = 0 although it is recovering from a checkpoint. Upscale/downscale Flink job requires job restart which will trigger recovery from a last checkpoint.

In this case, if there will be a new DeltaWrit